<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/students/student-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/students/student-navbar.html'"></div>

  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Events Calendar</h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li>
              <a href="index.html">Home</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="current">Calendar</li>
          </ul>
        </div>
        <!--//breadcrumbs-->
      </header>

      <div class="page-content">
        <div class="row page-row">
          <article class="welcome col-md-12 col-sm-12">
            <iframe src="https://calendar.google.com/calendar/embed?height=591&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FPuerto_Rico" style="border-width:0" width="812" height="591" frameborder="0" scrolling="no"></iframe>
          </article>
          <!--//page-content-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
<!--//content-->
</div>

<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
