<div class="">
  <!-- ******HEADER****** -->
  <!-- ******HEADER****** -->
  <header class="header">
    <!--//to-bar-->
    <div class="top-bar">
      <div class="container">
        <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs" style="color:#1E8A0D">
          <li>
          </li>
        </ul>
        <!-- Barrita de arriba-->
        <!--//social-icons-->
      </div>
    </div>
    <div class="header-main container">
      <h1 class="logo col-md-4 col-sm-4">
        <img id="logo" ng-src="../../../images/logo.png" alt="Logo">
      </h1>
      <!--//info-->
    </div>
    <!--//header-main-->
  </header>
  <!--//header-->


  <div class="row">
    <div class="col-md-12" style="padding-bottom:150px; padding-top: 100px;">
      <form class="form-horizontal" name="continueForm" ng-submit="continueStudent()" novalidate>
        <div style="text-align: center">
          <button type="submit" class="btn btn-theme btn-lg" style="font-size: 20px">Continue</button>
        </div>
      </form>
    </div>
  </div>

  <!--//content-->
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
