<!-- ******NAV****** -->
<nav class="main-nav" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//nav-toggle-->
    </div>

    <!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a ui-sref="jobFair">Job Fair</a>
        </li>
        <li class="nav-item">
          <a ui-sref="studentJobOffers">Job Offers</a>
        </li>
        <li class="nav-item">
          <a ui-sref="studentCompanyList">Companies</a>
        </li>
        <li class="nav-item">
          <a ui-sref="studentCalendar">Calendar</a>
        </li>
        <!--//dropdown-->
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Job Fair Dress Code</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Resume Template</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">8th Job Fair</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Interview Tips</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="http://dev.uprm.edu/studentcatalogue/"> Student Catalogue </a>
        </li>

        <li class="nav-item">
          <a ui-sref="studentAboutUs">About Us</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a ui-sref="landingPage" ng-click="logout()">Sign Out</a>
        </li>
      </ul>

      <!--//nav-->
    </div>

    <!--//navabr-collapse-->
  </div>
  <!--//container-->
</nav>
<!--//main-nav-->
