<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/students/student-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/students/student-navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title"> <img ng-if="company.logoPath" ng-src="{{company.logoPath}}" alt="companyLogo" width="150" height="150" pull-left style="vertical-align: text-bottom" /><b style="padding-left:15px"><big>{{company.name}}</big></b></h1>
        <span class="label" ng-class="{'label-success': company.companyStatus === 'active', 'label-warning': company.companyStatus === 'pending', 'label-danger': company.companyStatus === 'inactive'}" style="padding:5px; margin-left:5px"><big>{{company.companyStatus | capitalize}}</big></span>
      </header>
      <div class="page-content">
        <div class="row page-row">
          <div class="courses-wrapper col-md-12 col-sm-7">
            <div class="featured-courses tabbed-info page-row">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab" ng-click="executeTab1()">Profile</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab" ng-click="executeTab2()">Job Offers</a>
                </li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane active" id="tab1">
                  <div class="page-content">
                    <div class="row">
                      <article class="welcome" style="padding-top:15px">
                        <div class="col-md-12" style="padding-bottom:5px">
                          <h3 class="title">Company Description<br></h3>
                          <p>{{company.companyDescription}}</p>
                        </div>
                        <div class ="row text-center" style="margin-bottom:15px">
                          <span>Website: </span>
                          <a href="{{company.websiteUrl}}">{{company.websiteUrl}}</a>
                        </div>
                        <div class="col-md-12" style="padding-bottom:20px">
                          <h3 class="title">Interested Majors</h3>
                          <button class="btn btn-theme btn-xs" ng-repeat="item in majors" style="margin-right: 4px; margin-top: 5px; background-color: #069256"><b>{{item.majorCode}}</b></button>
                        </div>
                        <div class="col-md-12" style="padding-bottom:5px">
                          <h3 class="title">Promotional Material</h3>
                        </div>
                        <article class="contact-form col-md-12">
                          <div class="course-item-header">
                            <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Expiration Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in promotionalMaterial" >
                                  <td>
                                    <a href="">{{item.title}}</a>
                                  </td>
                                  <td>{{item.expirationDate | date: 'EEE, MMMM d, y'}}</td>
                                </tr>
                                </tbody>
                              </table>
                              <!--//table-->
                            </div>
                          </div>
                        </article>
                      </article>
                    </div>
                  </div>
                  <!--//row-->
                </div>

                <div class="tab-pane" id="tab2">
                  <div class="row">
                    <div class="col-title col-md-12 col-sm-12">
                      <h3 class="title" style="margin-bottom:25px">Job Offer List</h3>
                    </div>
                    <div class="jobs-wrapper col-md-10 col-sm-9">
                      <div class="panel panel-default page-row" ng-repeat="item in jobOfferList">
                        <div class="panel-heading">
                          <h3 class="panel-title">{{item.title}} <span class="label label-info pull-right">{{item.educationLevel}}</span> <span class="label label-primary pull-right" style="margin-right:10px">{{item.jobPosition}}</span></h3>
                        </div>
                        <div class="panel-body">
                          {{item.description}} <span ng-show="item.recentGraduate"><b>**For Recent Graduates**</b></span>
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <strong>Announcement Number:</strong>&nbsp;{{item.announcementNumber}}
                          </li>
                          <li class="list-group-item">
                            <strong>Location:</strong> {{item.location}}
                          </li>
                          <li class="list-group-item">
                            <strong>Promotional Document:</strong>&nbsp;
                            <a href="/documents/pdf-sample.pdf">document.pdf</a>
                          </li>
                          <li class="list-group-item">
                            <strong>Open Since:</strong> {{item.creationDate | date: 'MMMM d, y'}}
                          </li>
                        </ul>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="meta col-md-12 text-right">
                              Open Until: {{item.expirationDate | date: 'MMMM d, y'}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//courses-wrapper-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
