<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/students/student-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/students/student-navbar.html'"></div>

  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">About</h1>

        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li>
              <a href="jobFair">Job Fair</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="current">About</li>
          </ul>
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content">
        <div class="row page-row">
          <article class="welcome col-md-8 col-sm-7">
            <h3 class="title">Vision<br></h3>

            <p>{{aboutUsInfo.aboutUs[0].vision}}<br></p>

            <h3 class="title">Mission</h3>

            <p>{{aboutUsInfo.aboutUs[0].missionDesc}}<br></p>

            <h3 class="title">Student Services</h3>
            <ul class="custom-list-style">
              <li ng-repeat="item in aboutUsInfo.studentServices">
                <i class="fa fa-check"></i>{{item.service}}
              </li>
            </ul>
            <h3 class="title">Company Services</h3>
            <ul class="custom-list-style">
              <li ng-repeat="item in aboutUsInfo.companyServices">
                <i class="fa fa-check"></i>{{item.service}}
              </li>
            </ul>
            <h3 class="title">Policies</h3>
            <p>{{aboutUsInfo.aboutUs[0].policiesDesc}}</p>
            <ul class="custom-list-style">
              <li ng-repeat="item in aboutUsInfo.policies">
                <i class="fa fa-check"></i>{{item.policy}}
              </li>
            </ul>
            <h3 class="title">Requirements</h3>
            <p>{{aboutUsInfo.aboutUs[0].requirementsDesc}}</p>
            <ul class="custom-list-style">
              <li ng-repeat="item in aboutUsInfo.requirements">
                <i class="fa fa-check"></i>{{item.requirement}}
              </li>
            </ul>

            <h3 class="title">Our Staff</h3>

            <div class="table-responsive">
              <table class="table table-boxed">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in aboutUsInfo.ourStaff">
                  <td>{{item.name}}</td>
                  <td>{{item.position}}</td>
                </tr>
                </tbody>
              </table>
              <!--//table-->
            </div>
          </article>
          <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <!--//widget-->
            <!--//widget-->
            <section class="widget">
              <h3 class="title">All Inquiries</h3>

              <p class="tel"><i class="fa fa-phone"></i>Phones:</p>
              <span class="tel">(787) 265-3898, (787) 265-3858, or (787) 832-4040:&nbsp;</span>

              <p class="tel">ext. 2070, 2074, 3691, 3898, 3858</p>

              <p class="tel"><i class="fa fa-fax"></i>Fax: (787) 834-5115</p>

              <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:placement@uprm.edu">placement@uprm.edu</a></p>
            </section>
            <section class="widget has-divider">
              <h3 class="title">Physical Address</h3>

              <p class="adr"><span class="adr-group"> <span class="street-address">Student Center, 5th Floor - Office 508</span><br><span
                class="region">University of Puerto Rico Mayaguez Campus</span><br><span
                class="country-name">Mayaguez</span><br><span class="country-name">Puerto Rico</span><br><span
                class="postal-code">00681</span></span></p>
            </section>
            <section class="widget has-divider">
              <h3 class="title">Postal Address</h3>

              <p class="adr"><span class="adr-group"> <span class="street-address">University of Puerto Rico Mayaguez Campus</span><br><span
                class="region">Placement Office, Call Box 9000</span><br><span
                class="country-name">Mayaguez</span><br><span class="country-name">Puerto Rico</span><br><span
                class="postal-code">00681-9000</span></span></p>
            </section>
          </aside>
          <!--//page-content-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>

    <div class="page-row">
      <article class="map-section">
        <h3 class="title">How to find us</h3>
        <article class="welcome col-md-12 col-sm-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1490.3079326503766!2d-67.14124061552592!3d18.21070118501364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDEyJzM3LjEiTiA2N8KwMDgnMjkuMCJX!5e0!3m2!1sen!2spr!4v1457839879455" style="overflow: hidden;
        width: 100%;" width="100%" width="auto" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </article>
        <!--//map-->
      </article>
      <!--//map-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
