<div class="">
  <!-- ******HEADER****** -->
  <header class="header">
    <!--//to-bar-->
    <div class="top-bar">
      <div class="container">
        <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs" style="color:#1E8A0D">
          <li>
          </li>
        </ul>
        <!-- Barrita de arriba-->
        <!--//social-icons-->
      </div>
    </div>
    <div class="header-main container">
      <h1 class="logo col-md-4 col-sm-4"><a ui-sref="landingPage">
        <img id="logo" src="../../../images/logo.png" alt="Logo">
      </a></h1>
      <!--//logo-->
      <div class="info col-md-8 col-sm-8">
        <ul class="menu-top navbar-right hidden-xs">
          <li class="divider">
            <a ui-sref="landingPage">Home</a>
          </li>
          <li>
            <a ui-sref="aboutUs">About Us</a>
          </li>
        </ul>
        <!--//menu-top-->
        <br/>

        <div class="contact pull-right">
          <p class="phone"><i class="fa fa-phone"></i>Call us today 787 265 3898</p>

          <p class="email"><i class="fa fa-envelope"></i><a href="mailto:placement@uprm.edu">placement@uprm.edu</a></p>
        </div>
        <!--//contact-->
      </div>
      <!--//info-->
    </div>
    <!--//header-main-->
  </header>
  <!--//header-->
  <!-- ******NAV****** -->
  <nav class="main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--//nav-toggle-->
      </div>
      <!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a ui-sref="landingPage">Home</a>
          </li>
          <li class="nav-item">
            <a ui-sref="calendar">Calendar</a>
          </li>
          <!--//dropdown-->
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
               data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href="typography.html">Job Fair Dress Code</a>
              </li>
              <li>
                <a href="typography.html">Resume Template</a>
              </li>
              <li>
                <a href="buttons.html">8th Job Fair</a>
              </li>
              <li>
                <a href="components.html">Interview Tips</a>
              </li>
            </ul>
          </li>
          <!--//dropdown-->
          <li class="nav-item">
            <a ui-sref="aboutUs">About Us</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
               data-close-others="false" href="#">Sign In <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a ui-sref="login">Companies</a>
              </li>
              <li>
                <a href="tables.html"> Students</a>
              </li>
            </ul>
          </li>
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </div>
    <!--//container-->
  </nav>
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">New Company &amp; Recruiter Registration</h1>
        <div class="breadcrumbs pull-right">
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content">
        <div class="row">
          <div class="col-md-12" style="text-align:center; padding-bottom:5px">
            <p><b>1. Since the company is not registrated on this website, please fill all the blanks to register the company and yourself as a recruiter.</b></p>
            <p><b>2. After filling all the blanks, click the Register button at the end of the page.</b></p>
          </div>
        </div>
        <div class="row" style="padding-bottom:15px">
          <div class="col-md-12">
            <h3 class="title">New Recruiter Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="recruiterLeftForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine}">
                <label>Recruiter Email&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="email" name="email" type="email" class="form-control" placeholder="Enter your email" style="border-radius:0;" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.email.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine" style="color:#843534" class="help-block"><b>Enter a valid email address</b></p>
              </div>
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine}">
                <label>Recruiter First Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="firstName" name="firstName" type="text" class="form-control" placeholder="Enter your first name" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z ,.ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.firstName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid First Name</b></p>
              </div>
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine}">
                <label>Recruiter Last Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="lastName" name="lastName" type="text" class="form-control" placeholder="Enter your last name" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z ,.ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.lastName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Last Name</b></p>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="recruiterRightForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterRightForm.newPassword.$invalid && !recruiterRightForm.newPassword.$pristine }">
                <label>New Password&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="newPassword" name="newPassword" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterRightForm.newPassword.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterRightForm.newPassword.$invalid && !recruiterRightForm.newPassword.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterRightForm.newPassword.$error.minlength" style="color:#843534" class="help-block"><b>Password is too short. Use at least 6 characters.</b></p>
                <p ng-show="recruiterRightForm.newPassword.$error.maxlength" style="color:#843534" class="help-block"><b>Password is too long. Use less than 40 characters.</b></p>
                <p ng-show="recruiterRightForm.newPassword.$error.pattern" style="color:#843534" class="help-block"><b>Password must contain at least one: special character, lowercase letter, uppercase letter and number.</b></p>
                <p ng-show="recruiterRightForm.newPassword.$error.pattern" style="color:#843534" class="help-block"><b>Special Characters supported: \ ! @ # $ % ^ , & * ( ) [ ] { } - _ + = ~ ` | : ; ' < > ?</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : (recruiterRightForm.newPassword.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine }">
                <label>Confirm Password&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="confirmPassword" name="confirmPassword" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Re-enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="(recruiterRightForm.newPassword.$viewValue===recruiterRightForm.confirmPassword.$viewValue) && recruiterRightForm.confirmPassword.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="(recruiterRightForm.newPassword.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine"></i>
              </div>
              <div>
                <p ng-show="(recruiterRightForm.newPassword.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine" style="color:#843534" class="help-block"><b>Passwords don't match. Please try again!</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine}">
                <label>Recruiter Phone Number&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="phone" name="phone" type="tel" class="form-control" placeholder="Enter your office phone number" style="border-radius:0;" required ng-pattern="/^[\s()+-]*([0-9][\s()+-]*){6,20}(?:[\-\.\ \\\/]?(?:#|ext\.?|extension|x)[\-\.\ \\\/]?(\d+))?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterRightForm.phone.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine" style="color:#843534" class="help-block"><b>Enter a valid phone number</b></p>
              </div>
            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row" style="padding-bottom:15px; padding-top:15px">
          <div class="col-md-12">
            <h3 class="title">New Company Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="companyLeftForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine}">
                <label>Company Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="companyName" name="companyName" type="text" class="form-control" placeholder="Enter your company name" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 ,.'`-$?&@!^%()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="companyLeftForm.companyName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine"></i>
              </div>
              <div>
                <p ng-show="companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Company Name</b></p>
              </div>
              <div class="form-group has-feedback">
                <label>Brief Company Description (Optional) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </label>
                <textarea ng-model="description" name="description" type="text" class="form-control" rows="6" placeholder="Enter a brief description of your company..." ng-pattern="/^[-a-z0-9 ,.'`$?&@!/^%-()ñÑáéíóúÁÉÍÓÚ]{1,10}(\.)?$/i"></textarea>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!companyLeftForm.description.$modelValue === false"></i>
              </div>
              <div>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="companyRightForm">
                <div class="form-group has-feedback" ng-class="{ 'has-error' : companyRightForm.url.$invalid && !companyRightForm.url.$pristine}">
                  <label>Company Website URL&nbsp;
                    <span class="required">*</span>
                  </label>
                  <input ng-model="url" name="url" type="text" class="form-control" placeholder="Enter your company website URL" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="companyRightForm.url.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRightForm.url.$invalid && !companyRightForm.url.$pristine"></i>
                </div>
                <div>
                  <p ng-show="companyRightForm.url.$invalid && !companyRightForm.url.$pristine" style="color:#843534" class="help-block"><b>Enter a valid URL</b></p>
                </div>

              <div class="row">
                <div class="col-md-6" style="padding-top:2px">
                  <div style="text-align: center">
                    <button data-toggle="modal" data-target="#interestedMajors" type="button" class="btn btn-theme btn-sm" style="text-align: center;">Add Interested Majors (Optional)</button>
                  </div>
                </div>
                <div class="col-md-6" style="padding-top:2px; padding-bottom:10px">

                  <div style="text-align: center">
                    <button class="btn btn-theme btn-sm" style="text-align: center">Upload Company Logo (Optional)</button>
                  </div>


                  <div class="col-md-12" style="padding-top:8px; text-align:center">
                    <img width="100px" height="100px" ng-src="images/company.png"/>
                  </div>

                  <!--
                  <form action="/file-upload"
                        method="post"
                        enctype="multipart/form-data"
                        style="display: none">
                    <input type="file" name="image" />
                  </form>

                  <form
                    action="/file-upload"
                    class="dropzone"
                    uprm-file-uploader="dropzoneConfig">
                  </form>
                  -->

                  <!--
                  <form
                    action="/file-upload"
                    class="dz-default dz-message"
                    uprm-file-uploader="dropzoneConfig">
                  </form>
                  -->

                  <!--
                  <form
                    action="/file-upload"
                    class="dropzone"
                    id="my-awesome-dropzone"
                    uprm-file-uploader="dropzoneConfig">
                  </form>
                  -->

                </div>
              </div>

            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row" style="padding-bottom:15px; padding-top:15px">
          <div class="col-md-12">
            <h3 class="title">New Company Location Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="locationLeftForm">
              <!--//form-group-->
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine}">
                <label>Company Street Address&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="address" name="address" type="text" class="form-control" placeholder="Enter the street address for your company" style="border-radius:0;" required ng-pattern="/^[-a-z0-9-,`'ñÑáéíóúÁÉÍÓÚ. ]+(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationLeftForm.address.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Street Address</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.state.$error.pattern}">
                <label>Company State (Optional)</label>
                <input ng-model="state" name="state" type="text" class="form-control" placeholder="Enter the state for your company" style="border-radius:0;" ng-pattern="/^([A-Z][A-Za-z ,.'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!locationLeftForm.state.$error.pattern && !locationLeftForm.state.$modelValue === false"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.state.$error.pattern"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.state.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid name for a State</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine}">
                <label>Postal Code (Zip Code)&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="postalCode" name="postalCode" type="text" class="form-control" placeholder="Enter your company postal code" style="border-radius:0;" required ng-pattern="/^[-a-z0-9- ]{0,10}(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationLeftForm.postalCode.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Postal Code</b></p>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="locationRightForm">
              <!--//form-group-->
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationRightForm.city.$invalid && !locationRightForm.city.$pristine}">
                <label>Company City&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="city" name="city" type="text" class="form-control" placeholder="Enter the city for your company" style="border-radius:0;" required ng-pattern="/^[-a-z- ]{0,30}(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationRightForm.city.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationRightForm.city.$invalid && !locationRightForm.city.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationRightForm.city.$invalid && !locationRightForm.city.$pristine" style="color:#843534" class="help-block"><b>Enter a valid name for a City</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationRightForm.country.$invalid && !locationRightForm.country.$pristine}">
                <label>Company Country&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="country" name="country" type="text" class="form-control" placeholder="Enter the country for your company" style="border-radius:0;" required ng-pattern="/^[-a-z- ]{0,30}(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationRightForm.country.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationRightForm.country.$invalid && !locationRightForm.country.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationRightForm.country.$invalid && !locationRightForm.country.$pristine" style="color:#843534" class="help-block"><b>Enter a valid name for a Country</b></p>
              </div>
              <!--//form-group-->
              <!--//form-group-->
            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-bottom:10px">
            <div style="text-align: center">
              <a type="submit"
                 ng-click="registerCompany(companyLeftForm.$valid && companyRightForm.$valid && locationLeftForm.$valid && locationRightForm.$valid && recruiterLeftForm.$valid && recruiterRightForm.$valid && (recruiterRightForm.newPassword.$viewValue===recruiterRightForm.confirmPassword.$viewValue))"
                 class="btn btn-theme"
                 ng-disabled="companyLeftForm.$invalid || companyRightForm.$invalid || locationLeftForm.$invalid || locationRightForm.$invalid || recruiterLeftForm.$invalid || recruiterRightForm.$invalid || (recruiterRightForm.newPassword.$viewValue!==recruiterRightForm.confirmPassword.$viewValue)">Register</a>
            </div>
          </div>
        </div>
        <!--//page-row-->
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
  </div>
  </div>

<div id="interestedMajors" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Interested Majors</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>List of Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="displayMajors">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in majorList">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.value" name="major" value="item.value">&nbsp; {{item.name}}
                      </label>
                    </li>
                  </ul>
                  <div class="row text-center">
                    <button type="button" class="btn btn-theme btn-sm " ng-click="addMajors()" style="text-align: center;">Add Major(s)</button>
                  </div>
                </form>
                <p>{{majorList}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>Selected Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="selectedMajors">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in majorsSelected">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.value" name="major" value="item.value">&nbsp; {{item.name}}
                      </label>
                    </li>
                  </ul>
                  <div class="row text-center">
                    <button type="button" class="btn btn-theme btn-sm" ng-click="removeMajors()">Remove Major(s)</button>
                  </div>
                </form>
                <p>{{ majorsSelected }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
  <!--//main-nav-->
  <footer class="footer">
    <!--//footer-content-->
    <div class="bottom-bar">
      <div class="container">
        <div class="row">
          <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2016 Webhunters | © Departamento de Colocaciones UPRM RUM</small>
          <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
          <!--//social-->
        </div>
        <!--//row-->
      </div>
      <!--//container-->
    </div>
    <!--//bottom-bar-->
  </footer>
