<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">New Company &amp; Recruiter Registration</h1>
        <div class="breadcrumbs pull-right">
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content">
        <div class="row">
          <div class="col-md-12" style="text-align:center; padding-bottom:5px">
            <p><b>1. Since the company is not registrated on this website, please fill all the blanks to register the company and yourself as a recruiter.</b></p>
            <p><b>2. After filling all the blanks, click the Register button at the end of the page.</b></p>
          </div>
        </div>
        <div class="row" style="padding-bottom:15px">
          <div class="col-md-12">
            <h3 class="title">New Recruiter Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="recruiterLeftForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine}">
                <label>Recruiter Email&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.email" name="email" type="email" ng-maxlength="255" class="form-control" placeholder="Enter your email" style="border-radius:0;" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.email.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.email.$invalid && !recruiterLeftForm.email.$pristine" style="color:#843534" class="help-block"><b>Enter a valid email address</b></p>
              </div>
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine}">
                <label>Recruiter First Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.firstName" name="firstName" type="text" class="form-control" placeholder="Enter your first name" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z ,.ñÑáéíóúÁÉÍÓÚ'`-]{2,45})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.firstName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.firstName.$invalid && !recruiterLeftForm.firstName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid First Name</b></p>
              </div>
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine}">
                <label>Recruiter Last Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.lastName" name="lastName" type="text" class="form-control" placeholder="Enter your last name" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z ,.ñÑáéíóúÁÉÍÓÚ'`-]{2,45})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterLeftForm.lastName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterLeftForm.lastName.$invalid && !recruiterLeftForm.lastName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Last Name</b></p>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="recruiterRightForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterRightForm.password.$invalid && !recruiterRightForm.password.$pristine }">
                <label>New Password&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.password" name="password" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterRightForm.password.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterRightForm.password.$invalid && !recruiterRightForm.password.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterRightForm.password.$error.minlength" style="color:#843534" class="help-block"><b>Password is too short. Use at least 6 characters.</b></p>
                <p ng-show="recruiterRightForm.password.$error.maxlength" style="color:#843534" class="help-block"><b>Password is too long. Use less than 40 characters.</b></p>
                <p ng-show="recruiterRightForm.password.$error.pattern" style="color:#843534" class="help-block"><b>Password must contain at least one: special character, lowercase letter, uppercase letter and number.</b></p>
                <p ng-show="recruiterRightForm.password.$error.pattern" style="color:#843534" class="help-block"><b>Special Characters supported: \ ! @ # $ % ^ , & * ( ) [ ] { } - _ + = ~ ` | : ; ' &lt; &gt; ?</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : (recruiterRightForm.password.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine }">
                <label>Confirm Password&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.confirmPassword" name="confirmPassword" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Re-enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="(recruiterRightForm.password.$viewValue===recruiterRightForm.confirmPassword.$viewValue) && recruiterRightForm.confirmPassword.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="(recruiterRightForm.password.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine"></i>
              </div>
              <div>
                <p ng-show="(recruiterRightForm.password.$viewValue!==recruiterRightForm.confirmPassword.$viewValue) && !recruiterRightForm.confirmPassword.$pristine" style="color:#843534" class="help-block"><b>Passwords don't match. Please try again!</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine}">
                <label>Recruiter Phone Number&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="recruiter.phoneNumber" name="phone" type="tel" class="form-control" placeholder="Enter your phone number" style="border-radius:0;" required ng-pattern="/^\+?([1]{1})?[-]?([0-9]{3})\)?[-]([0-9]{3})[-]([0-9]{4})$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="recruiterRightForm.phone.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine"></i>
              </div>
              <div>
                <p ng-show="recruiterRightForm.phone.$invalid && !recruiterRightForm.phone.$pristine" style="color:#843534" class="help-block"><b>Enter a valid phone number. Formats: +x-xxx-xxx-xxxx, x-xxx-xxx-xxxx, xxx-xxx-xxxx</b></p>
              </div>
            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row" style="padding-bottom:15px; padding-top:15px">
          <div class="col-md-12">
            <h3 class="title">New Company Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="companyLeftForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine}">
                <label>Company Name&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="company.name" name="companyName" type="text" class="form-control" placeholder="Enter your company name" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 ,.'`$?&@!/^%-()ñÑáéíóúÁÉÍÓÚ]{2,63}(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="companyLeftForm.companyName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine"></i>
              </div>
              <div>
                <p ng-show="companyLeftForm.companyName.$invalid && !companyLeftForm.companyName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Company Name</b></p>
              </div>
              <div class="form-group has-feedback">
                <label>Brief Company Description&nbsp;
                  <span class="required">*</span>
                </label>
                <textarea ng-model="company.companyDescription" name="description" type="text" class="form-control" rows="6" placeholder="Enter a brief description of your company..." required  ng-pattern="/^[-a-z0-9 ,.'`$?&@!/^%-()ñÑáéíóúÁÉÍÓÚ]{2,511}(\.)?$/i"></textarea>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!companyLeftForm.description.$modelValue === false"></i>
              </div>
              <div>
                <p ng-show="companyLeftForm.description.$invalid && !companyLeftForm.description.$pristine" style="color:#843534" class="help-block"><b>Enter a valid description</b></p>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="companyRightForm">
                <div class="form-group has-feedback" ng-class="{ 'has-error' : companyRightForm.url.$invalid && !companyRightForm.url.$pristine}">
                  <label>Company Website URL&nbsp;
                    <span class="required">*</span>
                  </label>
                  <input ng-model="company.websiteUrl" name="url" type="text" class="form-control" minlength="2" maxlength="255" placeholder="Enter your company website URL" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="companyRightForm.url.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRightForm.url.$invalid && !companyRightForm.url.$pristine"></i>
                </div>
                <div>
                  <p ng-show="companyRightForm.url.$invalid && !companyRightForm.url.$pristine" style="color:#843534" class="help-block"><b>Enter a valid URL</b></p>
                </div>

              <div class="form-group has-feedback" ng-class="{ 'has-error' : companyRightForm.url.$invalid && !companyRightForm.url.$pristine}">
                <label>Upload Company Logo (Optional)&nbsp;
                  <span class="required">*</span>
                </label>
                <br> <br>
                <span style="font-family: arial; color: #004D13;"><strong><i>NOTE:</i> </strong></span>
                Accepted File Types: PNG, JPEG, GIF
                <br> <br>
                <button type="button" uprm-file-uploader="fileUploadConfig" class="btn btn-primary"> Choose Logo</button>
                <!--<input uprm-file-uploader="fileUploadConfig" class="dz-default dz-message dz-details" type="file" accept="gif|jpg|png" />-->
              </div>

            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row" style="padding-bottom:15px; padding-top:15px">
          <div class="col-md-12">
            <h3 class="title">New Company Location Registration</h3>
          </div>
        </div>
        <div class="row">
          <article class="contact-form col-md-6 col-sm-6">
            <form name="locationLeftForm">
              <!--//form-group-->
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine}">
                <label>Company Street Address&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="compLocation.streetAddress" name="address" type="text" class="form-control" placeholder="Enter the street address for your company" style="border-radius:0;" required ng-pattern="/^([a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ][,.\s\-'#&\(\)]*){5,255}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationLeftForm.address.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.address.$invalid && !locationLeftForm.address.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Street Address</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.state.$error.pattern}">
                <label>Company State (Optional)</label>
                <input ng-model="compLocation.state" name="state" type="text" class="form-control" placeholder="Enter the state for your company" style="border-radius:0;" ng-pattern="/^([a-zA-ZñÑáéíóúÁÉÍÓÚ][\s]?){2,45}/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!locationLeftForm.state.$error.pattern && !locationLeftForm.state.$modelValue === false"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.state.$error.pattern"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.state.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid name for a State</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine}">
                <label>Postal Code (Zip Code)&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="compLocation.zipCode" name="postalCode" type="text" class="form-control" placeholder="Enter your company postal code" style="border-radius:0;" required ng-pattern="/^\d{5}(?:[-]\d{4})?$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationLeftForm.postalCode.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationLeftForm.postalCode.$invalid && !locationLeftForm.postalCode.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Postal Code</b></p>
              </div>
            </form>
          </article>
          <article class="contact-form col-md-6 col-sm-6">
            <form name="locationRightForm">
              <!--//form-group-->
              <!--//form-group-->
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationRightForm.city.$invalid && !locationRightForm.city.$pristine}">
                <label>Company City&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="compLocation.city" name="city" type="text" class="form-control" placeholder="Enter the city for your company" style="border-radius:0;" required ng-pattern="/^([a-zA-ZñÑáéíóúÁÉÍÓÚ][\s]?){2,45}$/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationRightForm.city.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationRightForm.city.$invalid && !locationRightForm.city.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationRightForm.city.$invalid && !locationRightForm.city.$pristine" style="color:#843534" class="help-block"><b>Enter a valid name for a City</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : locationRightForm.country.$invalid && !locationRightForm.country.$pristine}">
                <label>Company Country&nbsp;
                  <span class="required">*</span>
                </label>
                <input ng-model="compLocation.country" name="country" type="text" class="form-control" placeholder="Enter the country for your company" style="border-radius:0;" required ng-pattern="/^([a-zA-ZñÑáéíóúÁÉÍÓÚ][\s]?){2,45}/"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="locationRightForm.country.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="locationRightForm.country.$invalid && !locationRightForm.country.$pristine"></i>
              </div>
              <div>
                <p ng-show="locationRightForm.country.$invalid && !locationRightForm.country.$pristine" style="color:#843534" class="help-block"><b>Enter a valid name for a Country</b></p>
              </div>
              <!--//form-group-->
              <!--//form-group-->
            </form>
          </article>
          <!--//contact-form-->
          <!--//page-sidebar-->
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-bottom:10px">
            <div style="text-align: center">
              <a type="submit"
                 id="registerButton"
                 ng-click="registerCompany(companyLeftForm.$valid && companyRightForm.$valid && locationLeftForm.$valid && locationRightForm.$valid && recruiterLeftForm.$valid && recruiterRightForm.$valid && (recruiterRightForm.password.$viewValue===recruiterRightForm.confirmPassword.$viewValue))"
                 class="btn btn-theme"
                 ng-disabled="companyLeftForm.$invalid || companyRightForm.$invalid || locationLeftForm.$invalid || locationRightForm.$invalid || recruiterLeftForm.$invalid || recruiterRightForm.$invalid || (recruiterRightForm.password.$viewValue!==recruiterRightForm.confirmPassword.$viewValue)">Register</a>
            </div>
          </div>
        </div>
        <!--//page-row-->
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
  </div>
</div>

<div id="messageModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:black"><b>{{title}}</b></h4>
        <br/>
        <h5>{{message}}</h5>
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
