<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/navbar.html'"></div>

  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Registration</h1>
        <div class="breadcrumbs pull-right">
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="row" style="float: none; margin-right: auto; margin-left: auto">
        <p class="text-center" style="padding-top:15px"><b>1. Start by typing the name of your company/organization in the Search Company/Organization search field below</b></p>
        <div class="container">
          <div class="row ">
            <div class="col-md-1" style="padding-top:15px"></div>
            <div class="col-md-4" style="padding-top:15px; border-right: 1px solid #ffffff;">
              <p><b>2. If your company/organization name IS listed:</b></p>
              <li>
                <p style="margin-left:2em">Check the radio button next to your company/organization name</p>
              </li>
              <li>
                <p style="margin-left:2em">Click the continue button below</p>
              </li>
            </div>
            <div class="col-md-2" style="padding-top:15px">
              <p style="text-align: center"><b>OR</b></p>
            </div>
            <div class="col-md-4" style="padding-top:15px">
              <p><b>2. If your company/organization name is NOT listed:</b></p>
              <li>
                <p style="margin-left:2em">Click the Can't Find my Company/Organization button below</p>
              </li>
            </div>
            <div class="col-md-1" style="padding-top:15px"> </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:10px">
        <div class="col-md-6" style="float: none; margin-right: auto; margin-left: auto;">
          <form>
            <div class="form-group" style="text-align: center">
              <label class="control-label">
                <span style="font-family: arial; color: #004D13;"><h5><strong>Search Your Company/Organization:</strong></h5></span>
              </label>
              <input type="text" ng-model="companySearch" class="form-control" placeholder="Enter your company/organization name">
            </div>
            <div class="row" style="padding-bottom:15px">
              <div class="col-md-6" style="padding-top:2px">
                <div style="text-align: center">
                  <a ui-sref="locationSearch" class="btn btn-theme" ng-disabled="disableContinueBtn">Continue</a>
                </div>
              </div>
              <div class="col-md-6" style="padding-top:2px">
                <div style="text-align: center">
                    <a ui-sref="companyRegistration">
                    <button type="button" class="btn btn-theme" style="text-align: center;">
                      Can't find my Company/Organization
                    </button>
                    </a>
                </div>
              </div>
            </div>
            <div class="col-md-9" style="float: none; margin-right: auto; margin-left: auto;">
              <ul class="list-group" style="max-height: 500px; overflow-y:scroll;">
                <li class="list-group-item" ng-repeat="item in companies | filter:companySearch">
                  <label class="control-label">
                    <input type="radio" name="companyName" value="{{item.name}}" ng-click="selectCompany(item)" />&nbsp;{{item.name}} &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </label>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="padding-top:20px">
        <p class="text-center" style="padding-top:10px"><span style="font-family: arial; color: #004D13;"><strong><i>NOTE:</i> </strong></span>
          If you need more asistance don't hesitate to contact our office at (787) 265-3898 or <a href="mailto:placement@uprm.edu" tabindex="0">placement@uprm.edu</a>.</p>
      </div>
    </div>
  </div>
  <!--//content-->
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
