<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Login</h1>
        <div class="breadcrumbs pull-right">
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="row">
        <span>
          <p class="text-center" style="padding-top:5px"><span style="font-family: arial; color: #004D13;"><strong>Registered Users:</strong></span>
          Enter you username and password below and click Login.</p>
          <p class="text-center" style="padding-top:2px"><span style="font-family: arial; color: #004D13;"><strong>New Users:</strong></span>
          If you have not registered on this website before, click the Register option below.</p>
        </span>
      </div>
      <div class="row" style="padding-top:20px">
        <div class="col-md-6" style="float: none; margin: 0 auto;">
          <div style="margin-top: 10px">
            <div class="box box-theme">
              <div class="panel-body">
                <form class="form-horizontal" name="userForm" ng-submit="login(userForm)" novalidate>
                  <div class="alert alert-danger alert-dismissable" ng-show="show">
                    <button type="button" class="close" ng-click="show=false" aria-hidden="true">&times;</button>
                    <strong class="alert-link">The account doesn't exists. Enter a Different Account or Register</strong>
                  </div>
                  <div class="input-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
                    <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-user"></i></span>
                    <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Email" style="border-radius:0;" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"/>
                  </div>
                  <div style="margin-bottom: 25px">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block"><b>Enter a valid email address</b></p>
                  </div>
                  <div class="input-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                    <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-lock"></i></span>
                    <input ng-model="user.password" name="password" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                  </div>
                  <div style="margin-bottom: 25px">
                    <p ng-show="userForm.password.$error.minlength" class="help-block"><b>Password is too short</b></p>
                    <p ng-show="userForm.password.$error.maxlength" class="help-block"><b>Password is too long</b></p>
                    <p ng-show="userForm.password.$error.pattern" class="help-block"><b>Password must contain at least one: special character, lowercase & letter and digit</b></p>
                    <p ng-show="userForm.password.$error.pattern" class="help-block"><b>Special Characters supported: \ ! @ # $ % ^ , & * ( ) [ ] { } - _ + = ~ ` | : ; ' < > ?</b></p>
                  </div>
                  <div class="form-group bottomBox" style="text-align: center">
                    <!-- Button -->
                    <div class="col-md-6" style="margin-top:5px">
                      <button type="submit" class="btn btn-success" ng-disabled="(userForm.email.$invalid || userForm.password.$invalid)">Login</button>
                    </div>
                    <div class="col-md-6" style="margin-top:5px">
                      <button type="button" ui-sref="companySearch" class="btn btn-primary">Register</button>
                    </div>
                  </div>
                </form>
                <div class="text-center">
                  <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" style="color:white">Forgot your Password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="forgotPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title pull-left" style="color:black">Recover Password</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" name ="modalForgotForm" ng-submit="forgot(modalForgotForm)" novalidate>
                <p class="text-center" style="margin-bottom: 10px">Enter the email address you use to access your account.</p>
                <div class="alert alert-danger alert-dismissable" ng-show="modalShowMessage">
                  <button type="button" class="close" ng-click="modalShowMessage=false" aria-hidden="true">&times;</button>
                  <strong class="alert-link">The account doesn't exists. Enter a Different Account or Register</strong>
                </div>
                <div class="input-group text-center" ng-class="{ 'has-error' : modalForgotForm.modalEmail.$invalid && !modalForgotForm.modalEmail.$pristine }">
                  <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-user"></i></span>
                  <input ng-model="forgotEmail" name="modalEmail" type="email" class="form-control" placeholder="Email" style="border-radius:0;" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"/>
                </div>
                <div style="margin-bottom: 10px">
                  <p ng-show="modalForgotForm.modalEmail.$invalid && !modalForgotForm.modalEmail.$pristine" style="color:#843534" class="help-block"><b>Enter a valid email address</b></p>
                </div>
                <div class="row">
                  <div class="col-md-2 text-center" style="float: none; margin: 0 auto;">
                    <button type="submit" class="btn btn-theme" ng-disabled="(modalForgotForm.modalEmail.$invalid)">Recover</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:20px">
        <p class="text-center" style="padding-top:10px"><span style="font-family: arial; color: #004D13;"><strong><i>NOTE:</i> </strong></span>
          If you need more asistance don't hesitate to contact our office at (787) 265-3898 or <a href="mailto:placement@uprm.edu" tabindex="0">placement@uprm.edu</a>.</p>
      </div>
    </div>
  </div>
  <!--//content-->
</div>
<div ng-include src="'views/partials/footer.html'"></div>
