<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/navbar.html'"></div>
  <!--//main-nav-->

  <!--
  <form
    action="/file-upload"
    class="dropzone"
    id="my-awesome-dropzone"
    uprm-file-uploader="dropzoneConfig">
  </form>
  -->

  <!-- ******CONTENT****** -->
  <div class="content container">

    <div id="promo-slider" class="slider flexslider">
      <ul class="slides">
        <li>
          <img src="../../images/slides/slide-1.jpg" alt=""/>
        </li>
        <li>
          <img src="../../images/slides/slide-2.jpg" alt=""/>
        </li>
        <li>
          <img src="../../images/slides/slide-3.jpg" alt=""/>
        </li>
      </ul>
      <!--//slides-->
    </div>
    <!--//flexslider-->

    <section class="promo box box-dark">
      <div class="col-md-6 col-sm-6">
        <h1 class="section-heading">Companies</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum orci eget nulla mattis, quis
          viverra tellus porta. Donec vitae neque ut velit eleifend commodo. Maecenas turpis odio, placerat eu
          lorem ut, suscipit commodo augue. </p>
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Register</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <h1 class="section-heading">Students</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum orci eget nulla mattis, quis
          viverra tellus porta. Donec vitae neque ut velit eleifend commodo. Maecenas turpis odio, placerat eu
          lorem ut, suscipit commodo augue. </p>
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Register</a>
      </div>
    </section>
    <!--//promo-->
    <section class="news">
      <div id="promo-facebook-plugin" class="col-md-8 col-sm-8">
        <h1 class="section-heading text-highlight"><span class="line">Facebook</span></h1>
        <!--//carousel-controls-->

        <div class="section-content clearfix">
          <div class="col-md-6" style="margin-top:10px">
            <div class="fb-page" data-href="https://www.facebook.com/colocacionesrum" data-tabs="timeline"
                 data-width="250" data-height="400" data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/colocacionesrum">
                  <a href="https://www.facebook.com/colocacionesrum">Departamento de Colocaciones RUM</a>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-top:10px">
            <div class="fb-page" data-href="https://www.facebook.com/RecintoUniversitariodeMayaguez/"
                 data-tabs="timeline" data-width="250" data-height="400" data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/RecintoUniversitariodeMayaguez/"><a
                  href="https://www.facebook.com/RecintoUniversitariodeMayaguez/">Universidad de
                  Puerto Rico Recinto de Mayaguez</a></blockquote>
              </div>
            </div>
          </div>
        </div>

        <!--//section-content-->
      </div>
      <div class="col-md-4 news-item">
        <!--//news-item-->
        <section class="links">
          <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>

          <div class="section-content">
            <p><a href="#"><i class="fa fa-caret-right"></i>Dress Code</a></p>

            <p><a href="#"><i class="fa fa-caret-right"></i>Resume Template</a></p>

            <p><a ui-sref="calendar"><i class="fa fa-caret-right"></i>Calendar</a></p>
          </div>
          <!--//section-content-->
        </section>
      </div>
    </section>
    <!--//news-->
    <div class="row cols-wrapper">
      <!--//col-md-3-->
      <div class="col-md-3">
        <!--//links-->
        <!--//testimonials-->
      </div>
      <!--//col-md-3-->
    </div>
    <!--//cols-wrapper-->
  </div>
  <!--//content-->
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
