<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>Responsive website template for education</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../../favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
  <link rel="stylesheet" href="assets/plugins/pretty-photo/css/prettyPhoto.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="home-page">
<div class="">
  <!-- ******HEADER****** -->
  <header class="header">
    <!--//to-bar-->
    <div class="top-bar">
      <div class="container">
        <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs" style="color:#1E8A0D">
          <li>
          </li>
        </ul>
        <!-- Barrita de arriba-->
        <!--//social-icons-->
      </div>
    </div>
    <div class="header-main container">
      <h1 class="logo col-md-4 col-sm-4"><a href="index.html">
        <img id="logo" src="../../../images/logo.png" alt="Logo">
      </a></h1>
      <!--//logo-->
      <div class="info col-md-8 col-sm-8">
        <ul class="menu-top navbar-right hidden-xs">
          <li class="divider">
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">My Profile</a>
          </li>
        </ul>
        <!--//menu-top-->
        <br />
        <div class="contact pull-right">
          <p class="phone"><a href="#">Welcome Recruiter!</a></p>
          <p class="email"><a href="#"><i class="fa fa-sign-out"></i></a><a href="#">Sign Out</a></p>
        </div>
        <!--//contact-->
      </div>
      <!--//info-->
    </div>
    <!--//header-main-->
  </header>
  <!--//header-->
  <!-- ******NAV****** -->
  <nav class="main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--//nav-toggle-->
      </div>
      <!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item">
            <a ui-sref="company">Profile</a>
          </li>
          <li class="active nav-item">
          </li>
          <li class="nav-item">
            <a href="company-list.html">Student Catalogue</a>
          </li>
          <li class="nav-item">
            <a ui-sref="calendar">Calendar</a>
          </li>
          <!--//dropdown-->
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href="typography.html">Job Fair Dress Code</a>
              </li>
              <li>
                <a href="tables.html">Resume Template</a>
              </li>
              <li>
                <a href="buttons.html">8th Job Fair</a>
              </li>
              <li>
                <a href="components.html">Interview Tips</a>
              </li>
            </ul>
          </li>
          <!--//dropdown-->
          <li class="nav-item">
            <a ui-sref="aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a href="../calendar.html">Settings</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a href="#">Sign Out</a>
          </li>
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </div>
    <!--//container-->
  </nav>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title"> <img src="../../../images/company.png" alt="companyLogo" width="150" height="150" pull-left style="vertical-align: text-bottom" /><b style="padding-left:15px"><big>IBM</big></b></h1>
        <span style="margin-left:5px"><button type="button" class="btn btn-success btn-xs">Active</button></span>
        <button type="button" class="btn btn-theme btn-sm  pull-right" style="vertical-align: text-bottom; margin-left:5px; margin-top:5px">Edit Logo</button>
        <button type="button" class="btn btn-theme btn-sm  pull-right" style="vertical-align: text-bottom; margin-right:5px; margin-top:5px">Edit Company Name</button>
      </header>
      <div class="page-content">
        <div class="row page-row">
          <div class="courses-wrapper col-md-12 col-sm-7">
            <div class="featured-courses tabbed-info page-row">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab">Profile</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab">Recruiters</a>
                </li>
                <li>
                  <a href="#tab3" data-toggle="tab">Job Offers</a>
                </li>
                <li>
                  <a href="#tab4" data-toggle="tab">Campus Services</a>
                </li>
                <li>
                  <a href="#tab5" data-toggle="tab">Requests Status <span class="badge badge-theme">3</span></a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <div class="page-content">
                    <div class="row page-row">
                      <article class="welcome" style="padding-top:15px">
                        <h3 class="title">Company Description<br></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat quis elit a vestibulum. Mauris leo sem, lacinia eu dapibus a, tempor eget metus. In vehicula maximus magna. Vestibulum pulvinar purus in tristique pellentesque. Sed porta imperdiet ultricies. Cras ac ipsum aliquam, condimentum risus non, euismod quam. Morbi posuere lobortis auctor. Aliquam massa eros, ultrices a viverra a, lacinia sed sem.&nbsp;<br></p>
                        <div class="col-md-12 text-center" style="padding-bottom:5px">
                          <button type="button" class="btn btn-theme btn-sm">Edit Description</button>
                        </div>
                        <h3 class="title">Interested Majors:</h3>
                        <div class="col-md-12" style="padding-bottom:20px">
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                          <button type="button" class="btn btn-theme btn-xs" style="margin-right: 4px; margin-top: 5px; background-color: #069256">ICOM</button>
                        </div>
                        <div class="col-md-12" style="text-align: center">
                          <button type="button" class="btn btn-theme btn-sm" style="margin-right:10px; margin-bottom:5px">Add Major</button>
                          <button type="button" class="btn btn-theme btn-sm" style="margin-left:10px; margin-bottom:5px">Delete Major</button>
                        </div>
                        <h3 class="title">Promotional Material</h3>
                        <div class="course-item-header row-divider hidden-sm hidden-xs">
                          <div class="row">
                            <div class="col-title col-md-4 col-sm-6">
                              <strong>Name</strong>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-duration col-md-4">
                                  <strong>Expiration Date</strong>
                                </div>
                                <div class="col-level col-md-2">
                                  <strong>Edit</strong>
                                </div>
                                <div class="col-location col-md-2">
                                  <strong>Delete</strong>
                                </div>
                                <div class="col-start col-md-4">
                                </div>
                              </div>
                            </div>
                            <!--//course-list-header-->
                            <!--//course-item-header-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                            <!--//course-item-->
                          </div>
                        </div>
                        <article class="course-item row-divider">
                          <div class="details row">
                            <div class="col-title col-md-4 col-sm-6">
                              <a href="course-single.html">Engineering Jobs</a>
                              <span class="label label-success">New</span>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-start col-md-4">10 Sep 2016</div>
                                <div class="col-level col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Edit</button>
                                </div>
                                <div class="col-location col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Delete</button>
                                </div>
                                <div class="col-duration col-md-4"></div>
                              </div>
                            </div>
                            <!--//col-meta-->
                          </div>
                          <!--//details-->
                        </article>
                        <article class="course-item row-divider">
                          <div class="details row">
                            <div class="col-title col-md-4 col-sm-6">
                              <a href="course-single.html">Engineering Jobs</a>
                              <span class="label label-success">New</span>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-start col-md-4">10 Sep 2016</div>
                                <div class="col-level col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Edit</button>
                                </div>
                                <div class="col-location col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Delete</button>
                                </div>
                                <div class="col-duration col-md-4"></div>
                              </div>
                            </div>
                            <!--//col-meta-->
                          </div>
                          <!--//details-->
                        </article>
                        <article class="course-item row-divider">
                          <div class="details row">
                            <div class="col-title col-md-4 col-sm-6">
                              <a href="course-single.html">Engineering Jobs</a>
                              <span class="label label-success">New</span>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-start col-md-4">10 Sep 2016</div>
                                <div class="col-level col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Edit</button>
                                </div>
                                <div class="col-location col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Delete</button>
                                </div>
                                <div class="col-duration col-md-4"></div>
                              </div>
                            </div>
                            <!--//col-meta-->
                          </div>
                          <!--//details-->
                        </article>
                        <article class="course-item row-divider">
                          <div class="details row">
                            <div class="col-title col-md-4 col-sm-6">
                              <a href="course-single.html">Engineering Jobs</a>
                              <span class="label label-success">New</span>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-start col-md-4">10 Sep 2016</div>
                                <div class="col-level col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Edit</button>
                                </div>
                                <div class="col-location col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Delete</button>
                                </div>
                                <div class="col-duration col-md-4"></div>
                              </div>
                            </div>
                            <!--//col-meta-->
                          </div>
                          <!--//details-->
                        </article>
                        <article class="course-item row-divider">
                          <div class="details row">
                            <div class="col-title col-md-4 col-sm-6">
                              <a href="course-single.html">Engineering Jobs</a>
                              <span class="label label-success">New</span>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-start col-md-4">10 Sep 2016</div>
                                <div class="col-level col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Edit</button>
                                </div>
                                <div class="col-location col-md-2" style="padding-top:2px">
                                  <button type="button" class="btn btn-theme btn-xs">Delete</button>
                                </div>
                                <div class="col-duration col-md-4"></div>
                              </div>
                            </div>
                            <!--//col-meta-->
                          </div>
                          <!--//details-->
                        </article>
                        <div class="col-md-12 text-center" style="padding-bottom:5px">
                          <button type="button" class="btn btn-theme btn-sm">Add Promotional Material</button>
                        </div>
                      </article>
                    </div>
                  </div>
                  <!--//row-->
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="row">
                    <!--//course-list-header-->
                    <div class="course-item-header row-divider hidden-sm hidden-xs">
                      <div class="row">
                        <div class="col-title col-md-12 col-sm-12">
                          <h3 class="title" style="margin-bottom:25px">Recruiter List</h3>
                        </div>
                        <div class="col-title col-md-4 col-sm-6">
                          <strong>Name</strong>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">
                              <strong>Email</strong>
                            </div>
                            <div class="col-duration col-md-3">
                              <strong>Company Location</strong>
                            </div>
                            <div class="col-level col-md-2">
                              <strong>Edit</strong>
                            </div>
                            <div class="col-location col-md-2">
                              <strong>Delete</strong>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!---//row-->
                    </div>
                    <!--//course-item-header-->
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <article class="course-item row-divider">
                      <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                          <a href="course-single.html">Sergio Mendoza Rivera</a>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">smendoza@us.ibm.com</div>
                            <div class="col-duration col-md-3">Cambridge, MA</div>
                            <div class="col-level col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Edit</button>
                            </div>
                            <div class="col-location col-md-2" style="padding-top:2px">
                              <button type="button" class="btn btn-theme btn-xs">Delete</button>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!--//details-->
                    </article>
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                    <!--//course-item-->
                  </div>
                  <!--//row-->
                </div>
                <div class="tab-pane" id="tab3">
                  <div class="row">
                    <div class="col-md-12 text-center" style="padding-bottom:5px">
                      <button type="button" class="btn btn-theme btn-sm">Add Job Offer</button>
                    </div>
                  </div>
                  <div class="row">
                    <!--//course-list-header-->
                    <div class="course-item-header row-divider">
                      <div class="jobs-wrapper col-md-10 col-sm-9">
                        <h3 class="title" style="margin-bottom:25px">Job Offer List</h3>
                        <div class="panel panel-default page-row">
                          <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Engineering Support Assistant</a> <span class="label label-info pull-right">Bachelors</span> <span class="label label-success pull-right" style="margin-right:10px">Full Time</span></h3>
                          </div>
                          <div class="panel-body">
                            Job summary, consectetur adipiscing elit. Sed facilisis magna fermentum mauris posuere convallis. Sed fermentum cursus lacinia. Phasellus ac tortor massa. Mauris eget nisi blandit. **For Recent Graduates**
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Anouncement Number:</strong>&nbsp;17177328217
                            </li>
                            <li class="list-group-item">
                              <strong>Majors:</strong> ICOM, INEL, INCI, INQU
                            </li>
                            <li class="list-group-item">
                              <strong>Location:</strong> North Carolina, United States
                            </li>
                            <li class="list-group-item">
                              <strong>Promotional Document:</strong>&nbsp;
                              <a href="#">engineering_support_assitant.pdf</a>
                            </li>
                          </ul>
                          <div class="panel-footer">
                            <div class="row">
                              <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-theme btn-sm" style="margin-right:10px; margin-top:5px">Edit Job Offer</button>
                                <button type="button" class="btn btn-theme btn-sm" style="margin-top:5px">Delete Job Offer</button>
                              </ul>
                              <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                <small>Open until 5/4/2016</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default page-row">
                          <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Engineering Support Assistant</a> <span class="label label-info pull-right">Bachelors</span> <span class="label label-success pull-right" style="margin-right:10px">Full Time</span></h3>
                          </div>
                          <div class="panel-body">
                            Job summary, consectetur adipiscing elit. Sed facilisis magna fermentum mauris posuere convallis. Sed fermentum cursus lacinia. Phasellus ac tortor massa. Mauris eget nisi blandit. **For Recent Graduates**
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Anouncement Number:</strong>&nbsp;17177328217
                            </li>
                            <li class="list-group-item">
                              <strong>Majors:</strong> ICOM, INEL, INCI, INQU
                            </li>
                            <li class="list-group-item">
                              <strong>Location:</strong> North Carolina, United States
                            </li>
                            <li class="list-group-item">
                              <strong>Promotional Document:</strong>&nbsp;
                              <a href="#">engineering_support_assitant.pdf</a>
                            </li>
                          </ul>
                          <div class="panel-footer">
                            <div class="row">
                              <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-theme btn-sm" style="margin-right:10px; margin-top:5px">Edit Job Offer</button>
                                <button type="button" class="btn btn-theme btn-sm" style="margin-top:5px">Delete Job Offer</button>
                              </ul>
                              <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                <small>Open until 5/4/2016</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default page-row">
                          <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Engineering Support Assistant</a> <span class="label label-info pull-right">Bachelors</span> <span class="label label-success pull-right" style="margin-right:10px">Full Time</span></h3>
                          </div>
                          <div class="panel-body">
                            Job summary, consectetur adipiscing elit. Sed facilisis magna fermentum mauris posuere convallis. Sed fermentum cursus lacinia. Phasellus ac tortor massa. Mauris eget nisi blandit. **For Recent Graduates**
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Anouncement Number:</strong>&nbsp;17177328217
                            </li>
                            <li class="list-group-item">
                              <strong>Majors:</strong> ICOM, INEL, INCI, INQU
                            </li>
                            <li class="list-group-item">
                              <strong>Location:</strong> North Carolina, United States
                            </li>
                            <li class="list-group-item">
                              <strong>Promotional Document:</strong>&nbsp;
                              <a href="#">engineering_support_assitant.pdf</a>
                            </li>
                          </ul>
                          <div class="panel-footer">
                            <div class="row">
                              <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-theme btn-sm" style="margin-right:10px; margin-top:5px">Edit Job Offer</button>
                                <button type="button" class="btn btn-theme btn-sm" style="margin-top:5px">Delete Job Offer</button>
                              </ul>
                              <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                <small>Open until 5/4/2016</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default page-row">
                          <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Engineering Support Assistant</a> <span class="label label-info pull-right">Bachelors</span> <span class="label label-success pull-right" style="margin-right:10px">Full Time</span></h3>
                          </div>
                          <div class="panel-body">
                            Job summary, consectetur adipiscing elit. Sed facilisis magna fermentum mauris posuere convallis. Sed fermentum cursus lacinia. Phasellus ac tortor massa. Mauris eget nisi blandit. **For Recent Graduates**
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Anouncement Number:</strong>&nbsp;17177328217
                            </li>
                            <li class="list-group-item">
                              <strong>Majors:</strong> ICOM, INEL, INCI, INQU
                            </li>
                            <li class="list-group-item">
                              <strong>Location:</strong> North Carolina, United States
                            </li>
                            <li class="list-group-item">
                              <strong>Promotional Document:</strong>&nbsp;
                              <a href="#">engineering_support_assitant.pdf</a>
                            </li>
                          </ul>
                          <div class="panel-footer">
                            <div class="row">
                              <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-theme btn-sm" style="margin-right:10px; margin-top:5px">Edit Job Offer</button>
                                <button type="button" class="btn btn-theme btn-sm" style="margin-top:5px">Delete Job Offer</button>
                              </ul>
                              <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                <small>Open until 5/4/2016</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--//panel-->
                        <!--//panel-->
                        <!--//panel-->
                        <!--//panel-->
                        <ul class="pagination">
                          <li class="disabled">
                            <a href="#">«</a>
                          </li>
                          <li class="active">
                            <a href="#">1<span class="sr-only">(current)</span></a>
                          </li>
                          <li>
                            <a href="#">2</a>
                          </li>
                          <li>
                            <a href="#">3</a>
                          </li>
                          <li>
                            <a href="#">4</a>
                          </li>
                          <li>
                            <a href="#">5</a>
                          </li>
                          <li>
                            <a href="#">»</a>
                          </li>
                        </ul>
                        <!--//pagination-->
                      </div>
                      <div class="row">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab4">
                  <div class="row">
                    <div class="col-md-12" style="padding-bottom:5px; padding-top:15px">
                      <h3 class="title">Request on Campus Service</h3>
                      <p>Please use this form for requesting any on campus service. One of our staff members will respond to you as quickly as possible.<br></p>
                    </div>
                  </div>
                  <div class="row" style="margin-top:20px">
                    <div class="col-md-1">
                    </div>
                    <article class="contact-form col-md-5" style="padding-top:13px">
                      <form class="form-inline" role="form" action="" method="post">
                        <div class="input-group">
                                                            <span><label for="text">Type of Event
                                                              <span class="required">*</span>&nbsp:&nbsp
                                                            </label></span>
                          <div class="form-group" style="text-align:center">
                            <div class="sort">
                              <select class="sort-options form-control">
                                <option>&nbsp</option>
                                <option>Info-session</option>
                                <option>Workshop</option>
                                <option>Interview</option>
                                <option>Other</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </form>
                    </article>
                    <article class="contact-form col-md-5">
                      <form class="form-inline" role="form" action="" method="post">
                        <div class="input-group">
                                                            <span><label class="control-label">Other Description
                                                              <span class="required">*</span> :
                                                            </label></span>
                        </div>
                      </form>
                      <input id="name" type="text" class="form-control" placeholder="Enter description for other event">
                    </article>
                    <div class="col-md-1">
                    </div>
                  </div>
                  <div class="row" style="margin-top:20px">
                    <div class="col-md-1">
                    </div>
                    <article class="contact-form col-md-5">
                      <form class="form-inline" role="form" action="" method="post">
                        <div class="input-group">
                                                            <span><label class="control-label">Date&nbsp;
                                                              <span class="required">*</span> :
                                                            </label></span>
                          <input id="name" type="text" class="form-control" placeholder="Enter the Date of Event">
                        </div>
                      </form>
                    </article>
                    <article class="contact-form col-md-5">
                      <form class="form-inline" role="form" action="" method="post">
                        <div class="input-group">
                                                            <span><label class="control-label">Hour
                                                              <span class="required">*</span> :
                                                            </label></span>
                          <input id="name" type="text" class="form-control" placeholder="Enter the Hour of Event">
                        </div>
                      </form>
                    </article>
                    <div class="col-md-1">
                    </div>
                  </div>
                  <div class="row" style="margin-top:20px">
                    <div class="col-md-1">
                    </div>
                    <article class="contact-form col-md-5">
                      <form class="form-inline" role="form" action="" method="post">
                        <div class="input-group">
                          <span><label class="control-label">Expected Capacity (Optional) :</label></span>
                          <input id="name" type="text" class="form-control" placeholder="Enter the Expected Capacity of Persons">
                        </div>
                      </form>
                    </article>
                    <div class="col-md-5">
                      <div class="form-group message">
                        <label for="message">Additional Information (Optional) :
                        </label>
                        <textarea id="message" class="form-control" rows="6" placeholder="Enter additional information here..."></textarea>
                      </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab5">
                  <div class="row">
                    <div class="col-md-12" style="padding-bottom:5px">
                      <h3 class="title">Status of Company Requests</h3>
                    </div>
                  </div>
                  <div class="row">
                    <!--//course-list-header-->
                    <article class="contact-form col-md-6 col-sm-6  page-row">
                      <h4 class="title text-center">Pending Requests</h4>
                      <div class="table-responsive">
                        <table class="table table-boxed">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>1</td>
                            <td>Job Position: Material Engineer</td>
                            <td><span class="label label-warning">Pending</span></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Document: math_tutor.pdf</td>
                            <td><span class="label label-warning">Pending</span></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Job Position: Music Professor</td>
                            <td><span class="label label-warning">Pending</span></td>
                          </tr>
                          </tbody>
                        </table>
                        <!--//table-->
                      </div>
                    </article>
                    <article class="contact-form col-md-6 col-sm-6  page-row">
                      <h4 class="title text-center">Approved Requests</h4>
                      <div class="table-responsive">
                        <table class="table table-boxed">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>1</td>
                            <td>Job Position: English Professor</td>
                            <td><span class="label label-success">Approved</span></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Job Position: Math Professor</td>
                            <td><span class="label label-success">Approved</span></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Document: resume_workshop.pdf</td>
                            <td><span class="label label-success">Approved</span></td>
                          </tr>
                          </tbody>
                        </table>
                        <!--//table-->
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <!--//featured-courses-->
          </div>
          <!--//courses-wrapper-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<footer class="footer">
  <!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2016 Webhunters | © Departamento de Colocaciones UPRM RUM</small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <li>
            <a href="https://www.facebook.com/colocacionesrum"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
        <!--//social-->
      </div>
      <!--//row-->
    </div>
    <!--//container-->
  </div>
  <!--//bottom-bar-->
</footer>
