<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/companies/company-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/companies/company-navbar.html'"></div>
  <!--//main-nav-->

  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Codia+1 Application</h1>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content text-center" style="margin-bottom:20px">
        <img src="images/logoCodia.png" style="width:750px;height:500px;">
      </div>
    </div>
  </div>
</div>

<div ng-include src="'views/partials/footer.html'"></div>

