<nav class="main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//nav-toggle-->
    </div>
    <!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a ui-sref="company">Profile</a>
        </li>
        <li class="nav-item">
          <a ui-sref="studentCatalogue">Student Catalogue</a>
        </li>
        <li class="nav-item">
          <a ui-sref="companyCalendar">Calendar</a>
        </li>
        <!--//dropdown-->
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Job Fair Dress Code</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Resume Template</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">8th Job Fair</a>
            </li>
            <li>
              <a href="/media/promotionalMaterial/ERV7.pdf" target="_blank">Interview Tips</a>
            </li>
          </ul>
        </li>
        <!--//dropdown-->
        <li class="nav-item">
          <a ui-sref="companyAboutUs">About Us</a>
        </li>
        <!--//dropdown-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a ui-sref="landingPage">Sign Out</a>
        </li>
      </ul>
      <!--//nav-->
    </div>
    <!--//navabr-collapse-->
  </div>
  <!--//container-->
</nav>
