
<div class="">
  <!-- ******HEADER****** -->
  <header class="header">
    <!--//to-bar-->
    <div class="top-bar">
      <div class="container">
        <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs" style="color:#1E8A0D">
          <li>
          </li>
        </ul>
        <!-- Barrita de arriba-->
        <!--//social-icons-->
      </div>
    </div>
    <div class="header-main container">
      <h1 class="logo col-md-4 col-sm-4"><a ui-sref="company">
        <img id="logo" src="../../../images/logo.png" alt="Logo">
      </a></h1>
      <!--//logo-->
      <div class="info col-md-8 col-sm-8">
        <ul class="menu-top navbar-right hidden-xs">
          <li class="divider">
            <a ui-sref="company">Home</a>
          </li>
          <li>
            <a ui-sref="company">My Profile</a>
          </li>
        </ul>
        <!--//menu-top-->
        <br />
        <div class="contact pull-right">
          <p class="phone"><a>Welcome Recruiter!</a></p>
          <p class="email"><a href="#"><i class="fa fa-sign-out"></i></a><a ui-sref="landingPage">Sign Out</a></p>
        </div>
        <!--//contact-->
      </div>
      <!--//info-->
    </div>
    <!--//header-main-->
  </header>
  <!--//header-->
  <!-- ******NAV****** -->
  <nav class="main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--//nav-toggle-->
      </div>
      <!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item">
            <a ui-sref="company">Profile</a>
          </li>
          <li class="active nav-item">
          </li>
          <li class="nav-item">
            <a href="company-list.html">Student Catalogue</a>
          </li>
          <li class="nav-item">
            <a ui-sref="calendar">Calendar</a>
          </li>
          <!--//dropdown-->
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href="typography.html">Job Fair Dress Code</a>
              </li>
              <li>
                <a href="tables.html">Resume Template</a>
              </li>
              <li>
                <a href="buttons.html">8th Job Fair</a>
              </li>
              <li>
                <a href="components.html">Interview Tips</a>
              </li>
            </ul>
          </li>
          <!--//dropdown-->
          <li class="nav-item">
            <a ui-sref="aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a href="../calendar.html">Settings</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a ui-sref="landingPage">Sign Out</a>
          </li>
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </div>
    <!--//container-->
  </nav>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title"> <img src="../../../images/company.png" alt="companyLogo" width="150" height="150" pull-left style="vertical-align: text-bottom" /><b style="padding-left:15px"><big>{{companyProfile.generalInfo[0].name}}</big></b></h1>
        <span class="label label-success" style="padding:5px; margin-left:5px"><big>{{companyProfile.generalInfo[0].companyStatus}}</big></span>
        <label for="file-upload" class="btn btn-theme btn-sm pull-right" style="vertical-align: text-bottom; margin-left:5px; margin-top:5px">Change Logo</label>
        <input style="display: none;" id="file-upload" type="file" accept="image/jpeg,image/png"/>
      </header>
      <div class="page-content">
        <div class="row page-row">
          <div class="courses-wrapper col-md-12 col-sm-7">
            <div class="featured-courses tabbed-info page-row">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab">Profile</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab">Recruiters</a>
                </li>
                <li>
                  <a href="#tab3" data-toggle="tab">Job Offers</a>
                </li>
                <li>
                  <a href="#tab4" data-toggle="tab">Campus Services</a>
                </li>
                <li>
                  <a href="#tab5" data-toggle="tab">Requests Status <span class="badge badge-theme">{{indexPendingRequests}}</span></a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <div class="page-content">
                    <div class="row page-row">
                      <article class="welcome" style="padding-top:15px">
                        <h3 class="title">Company Description<br></h3>
                        <p>{{companyProfile.generalInfo[0].companyDescription}}</p>
                        <div class ="row text-center" style="margin-bottom:15px">
                          <span>Website: </span>
                          <a href="{{companyProfile.generalInfo[0].websiteUrl}}">{{companyProfile.generalInfo[0].websiteUrl}}</a>
                        </div>
                        <div class="col-md-12 text-center" style="padding-bottom:5px">
                          <button data-toggle="modal" data-target="#editCompanyDescriptionModal" ng-click="getCompanyDescriptionItem(companyProfile.generalInfo[0])" type="button" class="btn btn-theme btn-sm">Edit Description</button>
                        </div>
                        <h3 class="title">Interested Majors:</h3>
                        <div class="col-md-12" style="padding-bottom:20px">
                          <button class="btn btn-theme btn-xs" ng-repeat="item in companyProfile.interestedMajors" style="margin-right: 4px; margin-top: 5px; background-color: #069256"><b>{{item.name}}</b></button>
                        </div>
                        <div class="col-md-12" style="text-align: center">
                          <button data-toggle="modal" data-target="#editInterestedMajorsModal" type="button" class="btn btn-theme btn-sm" style="margin-bottom:5px">Edit Majors</button>
                        </div>
                        <h3 class="title">Promotional Material</h3>
                        <div class="alert alert-danger alert-dismissable" ng-show="showPromotionalMaterialError">
                          <button type="button" class="close" ng-click="showPromotionalMaterialError=false" aria-hidden="true">&times;</button>
                          <strong class="alert-link">The maximum number of promotional material documents is 5. To add a new document either: delete or edit one of the existing materials listed below.</strong>
                        </div>
                        <div class="course-item-header row-divider hidden-sm hidden-xs">
                          <div class="row">
                            <div class="col-title col-md-4 col-sm-6">
                              <strong>Name</strong>
                            </div>
                            <div class="col-meta col-md-8 col-sm-6">
                              <div class="row">
                                <div class="col-duration col-md-4">
                                  <strong>Expiration Date</strong>
                                </div>
                                <div class="col-level col-md-2">
                                  <strong>Edit</strong>
                                </div>
                                <div class="col-location col-md-2">
                                  <strong>Delete</strong>
                                </div>
                                <div class="col-start col-md-4">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div ng-repeat="item in companyProfile.promotionalMaterial">
                          <article class="course-item row-divider">
                            <div class="details row">
                              <div class="col-title col-md-4 col-sm-6">
                                <a href="documents/pdf-sample.pdf" target="_blank">{{item.title}}</a> <span class="label label-success" ng-show="item.status === 'approved'">Approved</span> <span class="label label-warning" ng-show="item.status === 'pending'">Pending</span>
                              </div>
                              <div class="col-meta col-md-8 col-sm-6">
                                <div class="row">
                                  <div class="col-start col-md-4">{{item.expirationDate | date: 'MMMM d, y'}}</div>
                                  <div class="col-level col-md-2" style="padding-top:2px">
                                    <button type="button" data-toggle="modal" data-target="#editCompanyPromotionalMaterialModal" ng-click="getPromotionalMaterialItem(item)" class="btn btn-theme btn-xs">Edit</button>
                                  </div>
                                  <div class="col-location col-md-2" style="padding-top:2px">
                                    <button type="button" class="btn btn-theme btn-xs" ng-click="deleteCompanyPromotionalMaterial(item)">Delete</button>
                                  </div>
                                  <div class="col-duration col-md-4"></div>
                                </div>
                              </div>
                              <!--//col-meta-->
                            </div>
                            <!--//details-->
                          </article>
                        </div>
                        <div class="col-md-12 text-center" style="margin-bottom:5px; margin-top:10px">
                          <button type="button" ng-click="openAddCompanyPromotionalMaterialModal()" class="btn btn-theme btn-sm">Add Promotional Material</button>
                        </div>
                      </article>
                    </div>
                  </div>
                  <!--//row-->
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="row">
                    <!--//course-list-header-->
                    <div class="course-item-header row-divider hidden-sm hidden-xs">
                      <div class="row">
                        <div class="col-title col-md-12 col-sm-12">
                          <h3 class="title" style="margin-bottom:25px">Recruiter List</h3>
                        </div>
                        <div class="col-title col-md-4 col-sm-6">
                          <strong>Name</strong>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                          <div class="row">
                            <div class="col-start col-md-4">
                              <strong>Email</strong>
                            </div>
                            <div class="col-duration col-md-5">
                              <strong>Company Location</strong>
                            </div>
                            <div class="col-location col-md-2">
                              <strong>Delete</strong>
                            </div>
                          </div>
                        </div>
                        <!--//col-meta-->
                      </div>
                      <!---//row-->
                    </div>
                    <!--//course-item-header-->
                      <article class="course-item row-divider" ng-repeat="item in companyProfile.recruiterList">
                        <div class="details row">
                          <div class="col-title col-md-4 col-sm-6">{{item.firstName}} {{item.lastName}}
                            <span class="label label-success" ng-show="item.accountStatus === 'active'">Approved</span>
                            <span class="label label-danger" ng-show="item.accountStatus === 'inactive'">Inactive</span>
                            <span class="label label-warning" ng-show="item.accountStatus === 'pending'">Pending</span>
                          </div>
                          <div class="col-meta col-md-8 col-sm-6">
                            <div class="row">
                              <div class="col-start col-md-4">{{item.email}}</div>
                              <div class="col-duration col-md-5">{{item.companyLocation.city}}, {{item.companyLocation.state}}, {{item.companyLocation.country}}</div>
                              <div class="col-location col-md-2" style="padding-top:2px">
                                <button type="button" class="btn btn-theme btn-xs" ng-click="deleteRecruiter(item)">Delete</button>
                              </div>
                            </div>
                          </div>
                          <!--//col-meta-->
                        </div>
                        <!--//details-->
                      </article>
                  </div>
                </div>
                <div class="tab-pane" id="tab3">
                  <div class="row">
                    <div class="col-md-12 text-center" style="padding-bottom:5px">
                      <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#addJobOfferModal">Add Job Offer</button>
                    </div>
                  </div>
                  <div class="row">
                      <div class="jobs-wrapper col-md-10 col-sm-9">
                        <h3 class="title" style="margin-bottom:25px">Job Offer List</h3>
                        <div class="panel panel-default page-row" ng-repeat="item in companyProfile.jobOfferList">
                          <div class="panel-heading">
                            <h3 class="panel-title">{{item.title}} <span class="label label-success" ng-show="item.jobOfferStatus === 'approved'">Approved</span> <span class="label label-warning" ng-show="item.jobOfferStatus === 'pending'">Pending</span> <span class="label label-info pull-right">{{item.educationLevel}}</span> <span class="label label-primary pull-right" style="margin-right:10px">{{item.jobPosition}}</span></h3>
                          </div>
                          <div class="panel-body">
                            {{item.description}} <span ng-show="item.recentGraduate"><b>**For Recent Graduates**</b></span>
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Anouncement Number:</strong>&nbsp;{{item.announcementNumber}}
                            </li>
                            <li class="list-group-item">
                              <strong>Location:</strong> {{item.location}}
                            </li>
                            <li class="list-group-item">
                              <strong>Promotional Document:</strong>&nbsp;
                              <a href="/documents/pdf-sample.pdf">document.pdf</a>
                            </li>
                            <li class="list-group-item">
                              <strong>Open Since:</strong> {{item.creationDate | date: 'MMMM d, y'}}
                            </li>
                          </ul>
                          <div class="panel-footer">
                            <div class="row">
                              <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-theme btn-sm" ng-click="deleteJobOffer(item)" style="margin-top:5px">Delete Job Offer</button>
                              </ul>
                              <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                Open Until: {{item.expirationDate | date: 'MMMM d, y'}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab4">
                  <form name="requestOnCampusServiceForm" ng-submit="submitCampusService(requestOnCampusServiceForm)" novalidate>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom:5px; padding-top:15px">
                        <h3 class="title">Request on Campus Service</h3>
                        <p>Please use this form for requesting any on campus service. One of our staff members will respond to you as quickly as possible.<br></p>
                      </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                      <div class="col-md-1">
                      </div>
                      <article class="contact-form col-md-5">
                          <div class="input-group">
                            <span><label>Type of Event<span class="required">*</span>&nbsp:&nbsp</label></span>
                            <div class="form-group" style="text-align:center">
                              <div class="sort">
                                <select class="sort-options form-control" ng-model="campusServiceEventType" ng-init="campusServiceEventType=null" required>
                                  <option>Info-session</option>
                                  <option>Workshop</option>
                                  <option>Interview</option>
                                  <option>Other</option>
                                </select>
                              </div>
                            </div>
                          </div>
                      </article>
                      <article class="contact-form col-md-5" ng-show="campusServiceEventType==='Other'">
                        <div class="input-group">
                          <span><label class="control-label">Other Event Description<span class="required">*</span> :</label></span>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : requestOnCampusServiceForm.otherTypeOfEvent.$error.pattern}">
                          <input ng-model="otherTypeOfEvent" name="otherTypeOfEvent" type="text" class="form-control" placeholder="Enter description for other event" style="border-radius:0;" ng-pattern="/^([A-Za-z0-9 ,.()ñÑáéíóúÁÉÍÓÚ'`-]{0,50})$/i"/>
                          <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!requestOnCampusServiceForm.otherTypeOfEvent.$error.pattern && !requestOnCampusServiceForm.otherTypeOfEvent.$modelValue === false"></i>
                          <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="requestOnCampusServiceForm.otherTypeOfEvent.$error.pattern"></i>
                        </div>
                        <div>
                          <p ng-show="requestOnCampusServiceForm.otherTypeOfEvent.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
                        </div>
                      </article>
                      <div class="col-md-1">
                      </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                      <div class="col-md-1">
                      </div>
                      <article class="contact-form col-md-5">
                          <div class="input-group">
                            <span><label class="control-label">Date&nbsp;<span class="required">*</span> :</label></span>
                            <div class="alert alert-danger alert-dismissable" ng-show="showCampusServiceDateError">
                              <button type="button" class="close" ng-click="showCampusServiceDateError=false" aria-hidden="true">&times;</button>
                              <strong class="alert-link">The expiration date must be at least one day after today. Please select a new date.</strong>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : requestOnCampusServiceForm.campusServiceDate.$invalid && !requestOnCampusServiceForm.campusServiceDate.$pristine}">
                              <input id="requestCampusServiceDatePicker" ng-model="campusServiceDate" name="campusServiceDate" placeholder="Click on this input to select the event date" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly required ng-pattern="/^([0-9-]{0,30})$/i"/>
                              <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="requestOnCampusServiceForm.campusServiceDate.$valid"></i>
                              <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="requestOnCampusServiceForm.campusServiceDate.$invalid && !requestOnCampusServiceForm.campusServiceDate.$pristine"></i>
                            </div>
                            <div>
                              <p ng-show="requestOnCampusServiceForm.campusServiceDate.$invalid && !requestOnCampusServiceForm.campusServiceDate.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Date</b></p>
                            </div>
                          </div>
                      </article>
                      <article class="contact-form col-md-5">
                          <div class="input-group">
                            <span><label class="control-label">Hour<span class="required">*</span> :</label></span>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : requestOnCampusServiceForm.campusServiceHour.$invalid && !requestOnCampusServiceForm.campusServiceHour.$pristine}">
                              <input ng-model="campusServiceHour" name="campusServiceHour" type="text" class="form-control" placeholder="Enter the Hour of Event" style="border-radius:0;" required ng-pattern="/^([A-Za-z0-9 ,.:()]{0,20})$/i"/>
                              <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="requestOnCampusServiceForm.campusServiceHour.$valid"></i>
                              <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="requestOnCampusServiceForm.campusServiceHour.$invalid && !requestOnCampusServiceForm.campusServiceHour.$pristine"></i>
                            </div>
                            <div>
                              <p ng-show="requestOnCampusServiceForm.campusServiceHour.$invalid && !requestOnCampusServiceForm.campusServiceHour.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Hour</b></p>
                            </div>
                          </div>
                      </article>
                      <div class="col-md-1">
                      </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                      <div class="col-md-1">
                      </div>
                      <article class="contact-form col-md-5">
                          <div class="input-group">
                            <span><label class="control-label">Expected Capacity (Optional):</label></span>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : requestOnCampusServiceForm.campusServiceCapacity.$error.pattern}">
                              <input ng-model="campusServiceCapacity" name="campusServiceCapacity" type="number" min="0" class="form-control" placeholder="Enter the Expected Capacity of Persons" style="border-radius:0;" ng-pattern="/^([0-9]{0,10})$/i"/>
                              <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!requestOnCampusServiceForm.campusServiceCapacity.$error.pattern && !requestOnCampusServiceForm.campusServiceCapacity.$modelValue === false"></i>
                              <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="requestOnCampusServiceForm.campusServiceCapacity.$error.pattern"></i>
                            </div>
                            <div>
                              <p ng-show="requestOnCampusServiceForm.campusServiceCapacity.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid number for Capacity</b></p>
                            </div>
                          </div>
                      </article>
                      <article class="contact-form col-md-5">
                        <div class="form-group message">
                          <label>Additional Information (Optional) :</label>
                          <div class="form-group has-feedback" ng-class="{ 'has-error' : requestOnCampusServiceForm.campusServiceAdditionalInformation.$error.pattern}">
                            <textarea ng-model="campusServiceAdditionalInformation" name="campusServiceAdditionalInformation" type="text" placeholder="Enter additional information here..." class="form-control" rows="4" ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"></textarea>
                            <i style="color:#57A89A" class="glyphicon glyphicon-ok form-control-feedback" ng-show="!requestOnCampusServiceForm.campusServiceAdditionalInformation.$error.pattern && requestOnCampusServiceForm.campusServiceAdditionalInformation.$modelValue === false"></i>
                            <i style="margin-top:5px; color:#843534" class="glyphicon glyphicon-remove form-control-feedback" ng-show="requestOnCampusServiceForm.campusServiceAdditionalInformation.$error.pattern"></i>
                          </div>
                          <div>
                            <p ng-show="requestOnCampusServiceForm.campusServiceAdditionalInformation.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
                          </div>
                        </div>
                      </article>
                      <div class="col-md-1">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-theme" ng-disabled="requestOnCampusServiceForm.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Submit</b></button>
                    </div>
                  </form>
                </div>

                <div class="tab-pane" id="tab5">
                  <div class="row">
                    <div class="col-md-12" style="padding-bottom:5px">
                      <h3 class="title">Status of Company Requests</h3>
                    </div>
                  </div>
                  <div class="row">
                    <!--//course-list-header-->
                    <article class="contact-form col-md-12 page-row">
                      <h4 class="title text-center">Pending Requests</h4>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="item in companyProfile.pendingRequests">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td><span class="label label-warning">Pending</span></td>
                          </tr>
                          </tbody>
                        </table>
                        <!--//table-->
                      </div>
                      <div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//courses-wrapper-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>

<div id="editCompanyDescriptionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Edit Company Description</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="editCompanyDescriptionForm" ng-submit="submitCompanyDescription(editCompanyDescriptionForm)" novalidate>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine}">
                <label><h5 class="title text-highlight"><b>Company Description:</b><br></h5></label>
                <textarea ng-model="CompanyDescriptionItem.companyDescription" name="companyDescription" type="text" class="form-control" rows="6" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"></textarea>
                <i style="margin-top:15px; color:#57A89A" class="glyphicon glyphicon-ok form-control-feedback" ng-show="editCompanyDescriptionForm.companyDescription.$valid"></i>
                <i style="margin-top:15px; color:#843534" class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Company Website:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine}">
                <input ng-model="CompanyDescriptionItem.websiteUrl" name="url" type="text" class="form-control" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyDescriptionForm.url.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine" style="color:#843534" class="help-block"><b>Enter a valid URL</b></p>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editCompanyDescriptionForm.companyDescription.$invalid || editCompanyDescriptionForm.url.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Update</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--//featured-courses-->
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeCompanyDescriptionModal()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="editInterestedMajorsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Interested Majors</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>List of Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="displayMajors">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in majorList">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.value" name="major" value="item.value">&nbsp; {{item.name}}
                      </label>
                    </li>
                  </ul>
                  <div class="row text-center">
                    <button type="button" class="btn btn-theme btn-sm " ng-click="addMajors()" style="text-align: center;">Add Major(s)</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>Selected Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="selectedMajors">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in companyProfile.interestedMajors">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.value" name="major" value="item.value">&nbsp; {{item.name}}
                      </label>
                    </li>
                  </ul>
                  <div class="row text-center">
                    <button type="button" class="btn btn-theme btn-sm" ng-click="removeMajors()">Remove Major(s)</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="editCompanyPromotionalMaterialModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Edit Company Promotional Material</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="editCompanyPromotionalMaterialForm" ng-submit="submitCompanyPromotionalMaterial(editCompanyPromotionalMaterialForm)" novalidate>
              <label><h5 class="title text-highlight"><b>Name:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine}">
                <input ng-model="PromotionalMaterialItem.title" name="promotionalMaterialTitle" type="text" class="form-control" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z0-9 ,.ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Name</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Expiration Date:</b><br></h5></label> {{PromotionalMaterialItem.expirationDate | date: 'MMMM d, y'}}
              <div class="alert alert-danger alert-dismissable" ng-show="showEditPromotionalMaterialDateError">
                <button type="button" class="close" ng-click="showEditPromotionalMaterialDateError=false" aria-hidden="true">&times;</button>
                <strong class="alert-link">The expiration date must be at least one day after today. Please select a new date.</strong>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine}">
                <input id="editPromotionalDocumentExpirationDatePicker" ng-model="PromotionalMaterialItem.expirationDate" name="promotionalMaterialExpirationDate" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly required ng-pattern="/^([A-Za-z0-9 ,.:'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Date</b></p>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid || editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Update</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addPromotionalMaterialModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Add Company Promotional Material</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="addCompanyPromotionalMaterialForm" ng-submit="submitAddCompanyPromotionalMaterial(addCompanyPromotionalMaterialForm)" novalidate>
              <label><h5 class="title text-highlight"><b>Name:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine}">
                <input ng-model="addPromotionalMaterialItemTitle" name="promotionalMaterialTitle" placeholder="Enter the title for the new material" type="text" class="form-control" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z0-9 ,.ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Name</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Expiration Date:</b><br></h5></label>
              <div class="alert alert-danger alert-dismissable" ng-show="showAddPromotionalMaterialDateError">
                <button type="button" class="close" ng-click="showAddPromotionalMaterialDateError=false" aria-hidden="true">&times;</button>
                <strong class="alert-link">The expiration date must be at least one day after today. Please select a new date.</strong>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine}">
                <input id="addPromotionalDocumentExpirationDatePicker" ng-model="addPromotionalMaterialItemExpirationDate" placeholder="Click on this input to select the expiration date" name="promotionalMaterialExpirationDate" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly required ng-pattern="/^([0-9-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Date</b></p>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <label for="promotionalMaterial-upload" class="btn btn-info btn-sm" style="margin-bottom:15px"><b>Select Document:</b></label>
                  <input style="display: none;" id="promotionalMaterial-upload" type="file" accept="application/pdf"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="addCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid || addCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Create</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addJobOfferModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Add Company Job Offer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="addCompanyJobOfferForm" ng-submit="submitAddCompanyJobOffer(addCompanyJobOfferForm)" novalidate>
              <label><h5 class="title text-highlight"><b>Job Title:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyJobOfferForm.jobOfferTitle.$invalid && !addCompanyJobOfferForm.jobOfferTitle.$pristine}">
                <input ng-model="addJobOfferTitle" name="jobOfferTitle" type="text" class="form-control" placeholder="Enter the title for the new job offer" style="border-radius:0;" required ng-pattern="/^([A-Za-z0-9 ,.()ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="addCompanyJobOfferForm.jobOfferTitle.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferTitle.$invalid && !addCompanyJobOfferForm.jobOfferTitle.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyJobOfferForm.jobOfferTitle.$invalid && !addCompanyJobOfferForm.jobOfferTitle.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Job Title</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Job Description:</b><br></h5></label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyJobOfferForm.jobOfferDescription.$invalid && !addCompanyJobOfferForm.jobOfferDescription.$pristine}">
                <textarea ng-model="addJobOfferDescription" name="jobOfferDescription" type="text" placeholder="Enter the description for the new job offer" class="form-control" rows="4" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"></textarea>
                <i style="margin-top:5px; color:#57A89A" class="glyphicon glyphicon-ok form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferDescription.$valid"></i>
                <i style="margin-top:5px; color:#843534" class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferDescription.$invalid && !addCompanyJobOfferForm.jobOfferDescription.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyJobOfferForm.jobOfferDescription.$invalid && !addCompanyJobOfferForm.jobOfferDescription.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
              </div>
              <div class="row text-center">
                <input type="checkbox" ng-model="addJobOfferRecentGraduateOption" ng-init="addJobOfferRecentGraduateOption=false">&nbsp;<label><h5 class="title text-highlight"><b>Check if interested in Recent Graduates</b><br></h5></label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label><h5 class="title text-highlight"><b>Select type of Position:</b><br></h5></label>
                    <div class="form-group has-feedback" style="text-align:center">
                      <div class="sort">
                        <select class="sort-options form-control" ng-model="addJobOfferPosition" name="jobOfferPosition" required>
                          <option>Full-Time</option>
                          <option>Part-Time</option>
                          <option>Internship</option>
                          <option>Co-op</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label><h5 class="title text-highlight"><b>Select Educational Level:</b><br></h5></label>
                    <div class="form-group" style="text-align:center">
                      <div class="sort">
                        <select class="sort-options form-control" ng-model="addJobOfferEducationalLevel" name="jobOfferEducationalLevel" required>
                          <option>Bachelors</option>
                          <option>Masters</option>
                          <option>PhD</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <label style="margin-top:10px"><h5 class="title text-highlight"><b>Announcement Number (Optional):</b><br></h5></label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyJobOfferForm.jobOfferAnnouncementNumber.$error.pattern}">
                <input ng-model="addJobOfferAnnouncementNumber" name="jobOfferAnnouncementNumber" type="text" class="form-control" placeholder="Enter the announcement for the new job offer" style="border-radius:0;" ng-pattern="/^([0-9]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="!addCompanyJobOfferForm.jobOfferAnnouncementNumber.$error.pattern && !addCompanyJobOfferForm.jobOfferAnnouncementNumber.$modelValue === false"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferAnnouncementNumber.$error.pattern"></i>
              </div>
              <div>
                <p ng-show="addCompanyJobOfferForm.jobOfferAnnouncementNumber.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid Announcement Number</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Job Location:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyJobOfferForm.jobOfferLocation.$invalid && !addCompanyJobOfferForm.jobOfferLocation.$pristine}">
                <input ng-model="addJobOfferLocation" name="jobOfferLocation" type="text" class="form-control" placeholder="Enter the location for the new job offer (city, country)" style="border-radius:0;" required ng-pattern="/^([A-Za-z0-9 ,.:()ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="addCompanyJobOfferForm.jobOfferLocation.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferLocation.$invalid && !addCompanyJobOfferForm.jobOfferLocation.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyJobOfferForm.jobOfferLocation.$invalid && !addCompanyJobOfferForm.jobOfferLocation.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Job Location</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Expiration Date:</b><br></h5></label>
              <div class="alert alert-danger alert-dismissable" ng-show="showJobOfferDateError">
                <button type="button" class="close" ng-click="showJobOfferDateError=false" aria-hidden="true">&times;</button>
                <strong class="alert-link">The expiration date must be at least one day after today. Please select a new date.</strong>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addCompanyJobOfferForm.jobOfferExpirationDate.$invalid && !addCompanyJobOfferForm.jobOfferExpirationDate.$pristine}">
                <input id="addjobOfferExpirationDatePicker" ng-model="addJobOfferExpirationDate" name="jobOfferExpirationDate" ng-click="showJobOfferDateError=addJobOfferExpirationDate.toISOString() <= today" placeholder="Click on this input to select the expiration date" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly required ng-pattern="/^([0-9-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="addCompanyJobOfferForm.jobOfferExpirationDate.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="addCompanyJobOfferForm.jobOfferExpirationDate.$invalid && !addCompanyJobOfferForm.jobOfferExpirationDate.$pristine"></i>
              </div>
              <div>
                <p ng-show="addCompanyJobOfferForm.jobOfferExpirationDate.$invalid && !addCompanyJobOfferForm.jobOfferExpirationDate.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Expiration Date</b></p>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <label for="jobOffer-upload" class="btn btn-info btn-sm" style="margin-bottom:15px"><b>Select Document (Optional)</b></label>
                  <input style="display: none;" id="jobOffer-upload" type="file" accept="application/pdf"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="addCompanyJobOfferForm.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Create</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmCampusServiceRequest" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black"><b>Confirm</b></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>Are you sure you want to request this Campus Service?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" style="margin-top: 5px; margin-left: 5px">Cancel</button>
        <button type="button" class="btn btn-success pull-right" ng-click="confirmSubmissionCampusService()" style="margin-top: 5px; margin-right: 5px">Ok</button>
      </div>
    </div>
  </div>
</div>

<!--//wrapper-->
<!-- ******FOOTER****** -->
<footer class="footer">
  <!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2016 Webhunters | © Departamento de Colocaciones UPRM RUM</small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <li>
            <a href="https://www.facebook.com/colocacionesrum"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
        <!--//social-->
      </div>
      <!--//row-->
    </div>
    <!--//container-->
  </div>
  <!--//bottom-bar-->
</footer>
