<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/companies/company-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/companies/company-navbar.html'"></div>

  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Reset Password</h1>
      </header>
      <div class="row" style="float: none; margin-right: auto; margin-left: auto">
        <h5 class="text-center" style="padding-top:15px"><b>Enter your Email and new Password on the fields below to change your password.</b></h5>
        <div class="container">
          <form name="resetPasswordForm" ng-submit="submitResetPassword(resetPasswordForm.$valid && (resetPasswordForm.newPassword.$viewValue===resetPasswordForm.confirmPassword.$viewValue))" novalidate>
            <div class="row" style="margin-top:20px">
              <div class="col-md-4">
              </div>
              <article class="contact-form col-md-4">
                <div class="input-group">
                  <span><label class="control-label">Email<span class="required">*</span> :</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine}">
                  <input ng-model="email" name="email" type="email" class="form-control" placeholder="Enter your email" style="border-radius:0;" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="resetPasswordForm.email.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine"></i>
                </div>
                <div>
                  <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" style="color:#843534" class="help-block"><b>Enter a valid email address</b></p>
                </div>
              </article>
              <div class="col-md-4">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <article class="contact-form col-md-4">
                <div class="input-group">
                  <span><label class="control-label">New Password<span class="required">*</span> :</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPasswordForm.newPassword.$invalid && !resetPasswordForm.newPassword.$pristine }">
                  <input ng-model="newPassword" name="newPassword" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="resetPasswordForm.newPassword.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPasswordForm.newPassword.$invalid && !resetPasswordForm.newPassword.$pristine"></i>
                </div>
                <div>
                  <p ng-show="resetPasswordForm.newPassword.$error.minlength" style="color:#843534" class="help-block"><b>Password is too short. Use at least 6 characters.</b></p>
                  <p ng-show="resetPasswordForm.newPassword.$error.maxlength" style="color:#843534" class="help-block"><b>Password is too long. Use less than 40 characters.</b></p>
                  <p ng-show="resetPasswordForm.newPassword.$error.pattern" style="color:#843534" class="help-block"><b>Password must contain at least one: special character, lowercase letter, uppercase letter and number.</b></p>
                  <p ng-show="resetPasswordForm.newPassword.$error.pattern" style="color:#843534" class="help-block"><b>Special Characters supported: \ ! @ # $ % ^ , & * ( ) [ ] { } - _ + = ~ ` | : ; ' < > ?</b></p>
                </div>
              </article>
              <article class="contact-form col-md-4">
                <div class="input-group">
                  <span><label class="control-label">Confirm Password<span class="required">*</span> :</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : (resetPasswordForm.newPassword.$viewValue!==resetPasswordForm.confirmPassword.$viewValue) && !resetPasswordForm.confirmPassword.$pristine }">
                  <input ng-model="confirmPassword" name="confirmPassword" type="password" ng-minlength="6" ng-maxlength="40" class="form-control" placeholder="Re-enter your new password" style="border-radius: 0;" required ng-pattern="/^(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,.?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{6,}$/"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="(resetPasswordForm.newPassword.$viewValue===resetPasswordForm.confirmPassword.$viewValue) && resetPasswordForm.confirmPassword.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="(resetPasswordForm.newPassword.$viewValue!==resetPasswordForm.confirmPassword.$viewValue) && !resetPasswordForm.confirmPassword.$pristine"></i>
                </div>
                <div>
                  <p ng-show="(resetPasswordForm.newPassword.$viewValue!==resetPasswordForm.confirmPassword.$viewValue) && !resetPasswordForm.confirmPassword.$pristine" style="color:#843534" class="help-block"><b>Passwords don't match. Please try again!</b></p>
                </div>
              </article>
              <div class="col-md-2">
              </div>
            </div>
            <div class="row text-center" style="margin-bottom:15px">
              <div class="col-md-12">
                <button type="submit" class="btn btn-theme btn-md" ng-disabled="resetPasswordForm.$invalid || (resetPasswordForm.newPassword.$viewValue!==resetPasswordForm.confirmPassword.$viewValue)" style="margin-right:15px; margin-bottom:5px"><b>Submit</b></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>

<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
