<!-- ******HEADER****** -->
<header class="header">
  <!--//to-bar-->
  <div class="top-bar">
    <div class="container">
      <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs" style="color:#1E8A0D">
        <li></li>
      </ul>
      <!-- Barrita de arriba-->
      <!--//social-icons-->
    </div>
  </div>
  <div class="header-main container">
    <h1 class="logo col-md-4 col-sm-4">
      <a>
        <img id="logo" ng-src="images/logo.png" alt="Logo">
      </a>
    </h1>
    <!--//logo-->
    <div class="info col-md-8 col-sm-8">
      <ul class="menu-top navbar-right hidden-xs">
        <li class="divider">
          <a ui-sref="adminProfile">Profile</a>
        </li>
        <li>
          <a ui-sref="adminAboutUs">AboutUs</a>
        </li>
      </ul>
      <!--//menu-top-->
      <br/>

      <div class="contact pull-right">
        <p class="phone"><a href="#">Welcome {{getCurrentUser().firstName}}!</a></p>

        <p class="email"><a href="#"><i class="fa fa-sign-out"></i></a><a ui-sref="landingPage" ng-click="logout()">Sign Out</a></p>
      </div>
      <!--//contact-->
    </div>
    <!--//info-->
  </div>
  <!--//header-main-->
</header>
