<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/administrators/admin-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/administrators/admin-navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title"> <img ng-if="company.logoPath" ng-src="{{company.logoPath}}" alt="companyLogo" width="150" height="150" pull-left style="vertical-align: text-bottom" /><b style="padding-left:15px"><big>{{company.name}}</big></b></h1>
        <span class="label" ng-class="{'label-success': company.companyStatus === 'active', 'label-warning': company.companyStatus === 'pending', 'label-danger': company.companyStatus === 'inactive'}" style="padding:5px; margin-left:5px"><big>{{company.companyStatus | capitalize}}</big></span>

        <label type="button" uprm-file-uploader="updateLogoConfig" class="btn btn-theme btn-sm pull-right" style="vertical-align: text-bottom; margin-left:5px; margin-top:5px">Change Logo</label>
        <input style="display: none;" id="file-upload" type="file" accept="image/jpeg,image/png"/>

      </header>
      <div class="page-content">
        <div class="row page-row">
          <div class="courses-wrapper col-md-12 col-sm-7">
            <div class="featured-courses tabbed-info page-row">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab" ng-click="executeTab1()">Profile</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab" ng-click="executeTab2()">Recruiters</a>
                </li>
                <li>
                  <a href="#tab3" data-toggle="tab" ng-click="executeTab3()">Job Offers</a>
                </li>
                <li>
                  <a href="#tab4" data-toggle="tab">Temporary Contact</a>
                </li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane active" id="tab1">
                  <div class="page-content">
                    <div class="row">
                      <article class="welcome" style="padding-top:15px">
                        <div class="col-md-12" style="padding-bottom:5px">
                          <h3 class="title">Company Description<br></h3>
                          <p>{{company.companyDescription}}</p>
                        </div>
                        <div class ="row text-center" style="margin-bottom:15px">
                          <span>Website: </span>
                          <a href="{{company.websiteUrl}}">{{company.websiteUrl}}</a>
                        </div>
                        <div class="col-md-12 text-center" style="padding-bottom:5px">
                          <button data-toggle="modal" data-target="#editCompanyDescriptionModal" ng-click="getCompanyDescriptionItem(company)" type="button" class="btn btn-theme btn-sm">Edit Description</button>
                        </div>
                        <div class="col-md-12" style="padding-bottom:20px">
                          <h3 class="title">Interested Majors</h3>
                          <button class="btn btn-theme btn-xs" ng-repeat="item in majors | filter:true" style="margin-right: 4px; margin-top: 5px; background-color: #069256"><b>{{item.majorCode}}</b></button>
                        </div>
                        <div class="col-md-12" style="text-align: center">
                          <button data-toggle="modal" data-target="#editInterestedMajorsModal" type="button" class="btn btn-theme btn-sm" style="margin-bottom:5px">Edit Majors</button>
                        </div>
                        <div class="col-md-12" style="padding-bottom:5px">
                          <h3 class="title">Promotional Material</h3>
                        </div>
                        <div class="row page-row">
                          <div class="col-md-11" style="text-align: center">
                            <form class="form-inline" role="form" action="" method="post">
                              <div class="input-group">
                                <span><label class="control-label">Promotional Material Status:&nbsp</label></span>

                                <div class="form-group">
                                  <div class="sort">
                                    <select class="sort-options form-control" ng-model="promMaterialStatusSelection">
                                      <option value="approved">Approved</option>
                                      <option value="rejected">Rejected</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <article class="contact-form col-md-12">
                          <div class="course-item-header">
                            <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Expiration Date</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="item in promotionalMaterial | filter:{status:promMaterialStatusSelection}:true">
                                    <td>
                                      <a href="{{item.filePath}}" target="_blank">{{item.title}}</a> <span class="label" ng-class="{'label-success': item.status === 'approved', 'label-danger': item.status === 'rejected'}">{{item.status | capitalize}}</span>
                                    </td>
                                    <td>{{item.expirationDate | date: 'EEE, MMMM d, y'}}</td>
                                    <td>
                                      <button type="button" data-toggle="modal" data-target="#editCompanyPromotionalMaterialModal" class="btn btn-theme btn-xs" ng-click="setPromotionalMaterialItem(item)" >Edit</button>
                                    </td>
                                    <td>
                                      <button type="button" data-toggle="modal" data-target="#confirmDeletePromotionalMaterialModal" class="btn btn-theme btn-xs" ng-click="setCompanyPromotionalMaterial(item)">Delete</button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--//table-->
                            </div>
                          </div>
                        </article>
                      </article>
                    </div>
                  </div>
                  <!--//row-->
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="row">
                    <div class="col-title col-md-12 col-sm-12">
                      <h3 class="title" style="margin-bottom:25px">Recruiter List</h3>
                    </div>
                    <div class="row page-row">
                      <div class="col-md-11" style="text-align: center">
                        <form class="form-inline" role="form" action="" method="post">
                          <div class="input-group">
                            <span><label class="control-label">Recruiter Status:&nbsp</label></span>

                            <div class="form-group">
                              <div class="sort">
                                <select class="sort-options form-control" ng-model="recruiterStatusSelection">
                                  <option value="active">Active</option>
                                  <option value="inactive">Inactive</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <article class="contact-form col-md-12">
                      <div class="course-item-header">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone Number</th>
                              <th>Company Location</th>
                              <th>Registration Date</th>
                              <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in recruiterList | filter:{accountStatus:recruiterStatusSelection}:true">
                                <td>
                                  {{item.firstName}} {{item.lastName}} <span class="label" ng-class="{'label-success': item.accountStatus === 'active', 'label-danger': item.accountStatus === 'inactive'}">{{item.accountStatus | capitalize}}</span>
                                </td>
                                <td>{{item.email}}</td>
                                <td>{{item.phoneNumber}}</td>
                                <td>{{item.companyLocation.city}}, <span ng-if="item.companyLocation.state">{{item.companyLocation.state}},</span> {{item.companyLocation.country}}</td>
                                <td>{{item.registrationDate | date: 'EEE, MMMM d, y'}}</td>
                                <td>
                                  <button type="button" class="btn btn-theme btn-xs" data-toggle="modal" data-target="#editRecruiterStatusModal" ng-click="changeRecruiterStatus(item)">Change</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--//table-->
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="tab-pane" id="tab3">
                  <div class="row">
                    <div class="col-title col-md-12 col-sm-12">
                      <h3 class="title" style="margin-bottom:25px">Job Offer List</h3>
                    </div>
                    <div class="row page-row">
                      <div class="col-md-11" style="text-align: center">
                        <form class="form-inline" role="form" action="" method="post">
                          <div class="input-group">
                            <span><label class="control-label">Job Offer Status:&nbsp</label></span>

                            <div class="form-group">
                              <div class="sort">
                                <select class="sort-options form-control" ng-model="jobOfferStatusSelection">
                                  <option value="approved">Approved</option>
                                  <option value="rejected">Rejected</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="jobs-wrapper col-md-10 col-sm-9">
                      <div class="panel panel-default page-row" ng-repeat="item in jobOfferList | filter:{jobOfferStatus:jobOfferStatusSelection}:true">
                        <div class="panel-heading">
                          <h3 class="panel-title">{{item.title}} <span class="label" ng-class="{'label-success': item.jobOfferStatus === 'approved', 'label-danger': item.jobOfferStatus === 'rejected'}">{{item.jobOfferStatus | capitalize}}</span> <span class="label label-info pull-right">{{item.educationLevel}}</span> <span class="label label-primary pull-right" style="margin-right:10px">{{item.jobPosition}}</span></h3>
                        </div>
                        <div class="panel-body">
                          {{item.description}} <span ng-show="item.recentGraduate"><b>**For Recent Graduates**</b></span>
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <strong>Recruiter Email:</strong> <strong><a href="">{{item.email}}</a></strong>
                          </li>
                          <li class="list-group-item" ng-if="item.announcementNumber">
                            <strong>Announcement Number:</strong>&nbsp;{{item.announcementNumber}}
                          </li>
                          <li class="list-group-item">
                            <strong>Location:</strong> {{item.location}}
                          </li>
                          <li class="list-group-item" ng-if="item.flyerPath">
                            <strong>Promotional Document:</strong>&nbsp;
                            <a href="{{item.flyerPath}}" target="_blank">Click to see document</a>
                          </li>
                          <li class="list-group-item">
                            <strong>Open Since:</strong> {{item.creationDate | date: 'MMMM d, y'}}
                          </li>
                        </ul>
                        <div class="panel-footer">
                          <div class="row">
                            <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                              <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#editJobOfferStatusModal" ng-click="setJobOfferItem(item)" style="margin-top:5px">Edit Status</button>
                            </ul>
                            <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                              Open Until: {{item.expirationDate | date: 'MMMM d, y'}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tab4">
                  <form name="temporaryContactForm" ng-submit="confirmTemporaryContactChanges(temporaryContactForm)" novalidate>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom:5px; padding-top:15px">
                        <h3 class="title">Temporary Contact</h3>
                      </div>
                    </div>
                    <div class="col-md-12 col-md-offset-2">
                      <article class="contact-form col-md-4">
                        <div class="input-group">
                          <span><label class="control-label">First Name<span class="required">*</span> :</label></span>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : temporaryContactForm.tempContactFirstName.$invalid && !temporaryContactForm.tempContactFirstName.$pristine}">
                          <input ng-model="tempContact.firstName" name="tempContactFirstName" type="text" class="form-control" placeholder="Enter temporary contact First Name" style="border-radius:0;" ng-pattern="patterns.firstName" required/>
                          <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="temporaryContactForm.tempContactFirstName.$valid"></i>
                          <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="temporaryContactForm.tempContactFirstName.$invalid && !temporaryContactForm.tempContactFirstName.$pristine"></i>
                        </div>
                        <div>
                          <p ng-show="temporaryContactForm.tempContactFirstName.$invalid && !temporaryContactForm.tempContactFirstName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Name</b></p>
                        </div>
                      </article>
                      <article class="contact-form col-md-4">
                        <div class="input-group">
                          <span><label class="control-label">Last Name<span class="required">*</span> :</label></span>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : temporaryContactForm.tempContactLastName.$invalid && !temporaryContactForm.tempContactLastName.$pristine}">
                          <input ng-model="tempContact.lastName" name="tempContactLastName" type="text" class="form-control" placeholder="Enter temporary contact Last Name" style="border-radius:0;" ng-pattern="patterns.lastName" required/>
                          <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="temporaryContactForm.tempContactLastName.$valid"></i>
                          <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="temporaryContactForm.tempContactLastName.$invalid && !temporaryContactForm.tempContactLastName.$pristine"></i>
                        </div>
                        <div>
                          <p ng-show="temporaryContactForm.tempContactLastName.$invalid && !temporaryContactForm.tempContactLastName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Name</b></p>
                        </div>
                    </article>
                    </div>
                    <div class="col-md-12 col-md-offset-2">
                    <article class="contact-form col-md-4">
                      <div class="input-group">
                        <span><label class="control-label">Email<span class="required">*</span> :</label></span>
                      </div>
                      <div class="form-group has-feedback" ng-class="{ 'has-error' : temporaryContactForm.tempContactEmail.$invalid && !temporaryContactForm.tempContactEmail.$pristine}">
                        <input ng-model="tempContact.email" name="tempContactEmail" type="email" class="form-control" placeholder="Enter temporary contact email" style="border-radius:0;" ng-pattern="patterns.email" required/>
                        <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="temporaryContactForm.tempContactEmail.$valid"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="temporaryContactForm.tempContactEmail.$invalid && !temporaryContactForm.tempContactEmail.$pristine"></i>
                      </div>
                      <div>
                        <p ng-show="temporaryContactForm.tempContactEmail.$invalid && !temporaryContactForm.tempContactEmail.$pristine" style="color:#843534" class="help-block"><b>Enter a valid email</b></p>
                      </div>
                    </article>
                    <article class="contact-form col-md-4">
                      <div class="input-group">
                        <span><label class="control-label">Phone Number<span class="required">*</span> :</label></span>
                      </div>
                      <div class="form-group has-feedback" ng-class="{ 'has-error' : temporaryContactForm.tempContactPhone.$invalid && !temporaryContactForm.tempContactPhone.$pristine}">
                        <input ng-model="tempContact.phoneNumber" type="tel" name="tempContactPhone" class="form-control" placeholder="Enter temporary contact phone number" style="border-radius:0;" ng-pattern="patterns.phoneNumber" required/>
                        <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="temporaryContactForm.tempContactPhone.$valid"></i>
                        <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="temporaryContactForm.tempContactPhone.$invalid && !temporaryContactForm.tempContactPhone.$pristine"></i>
                      </div>
                      <div>
                        <p ng-show="temporaryContactForm.tempContactPhone.$invalid && !temporaryContactForm.tempContactPhone.$pristine" style="color:#843534" class="help-block"><b>Enter a valid phone number. Formats: +x-xxx-xxx-xxxx, x-xxx-xxx-xxxx, xxx-xxx-xxxx</b></p>
                      </div>
                    </article>
                    </div>
                    <div class="row text-center">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-theme btn-sm" ng-disabled="temporaryContactForm.$invalid" style="margin-top:5px; margin-bottom:5px"><b>Save Changes</b></button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <!--//courses-wrapper-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>

<div id="editCompanyDescriptionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Edit General Company Information</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="editCompanyDescriptionForm" ng-submit="submitCompanyDescription(editCompanyDescriptionForm)" novalidate>
              <label><h5 class="title text-highlight"><b>Company Name:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyDescriptionForm.companyName.$invalid && !editCompanyDescriptionForm.companyName.$pristine}">
                <input ng-model="CompanyDescriptionItem.name" name="companyName" type="text" class="form-control" style="border-radius:0;" required ng-pattern="/^[-a-z0-9 ,.'`$?&@!/^%-()ñÑáéíóúÁÉÍÓÚ]{2,63}(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyDescriptionForm.companyName.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyDescriptionForm.companyName.$invalid && !editCompanyDescriptionForm.companyName.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyDescriptionForm.companyName.$invalid && !editCompanyDescriptionForm.companyName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid name</b></p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine}">
                <label><h5 class="title text-highlight"><b>Company Description:</b><br></h5></label>
                <textarea ng-model="CompanyDescriptionItem.companyDescription" name="companyDescription" type="text" class="form-control" rows="6" ng-minlength="2" ng-maxlength="511" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"></textarea>
                <i style="margin-top:15px; color:#57A89A" class="glyphicon glyphicon-ok form-control-feedback" ng-show="editCompanyDescriptionForm.companyDescription.$valid"></i>
                <i style="margin-top:15px; color:#843534" class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyDescriptionForm.companyDescription.$invalid && !editCompanyDescriptionForm.companyDescription.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Company Website:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine}">
                <input ng-model="CompanyDescriptionItem.websiteUrl" name="url" type="text" class="form-control" style="border-radius:0;" ng-minlength="2" ng-maxlength="255" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyDescriptionForm.url.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyDescriptionForm.url.$invalid && !editCompanyDescriptionForm.url.$pristine" style="color:#843534" class="help-block"><b>Enter a valid URL</b></p>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editCompanyDescriptionForm.companyDescription.$invalid || editCompanyDescriptionForm.url.$invalid" style="margin-right:15px; margin-bottom:5px"><b>Update</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--//featured-courses-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="editInterestedMajorsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black"><b>Interested Majors</b></h4>
      </div>
      <div class="modal-body">
        <form name="editInterestedMajorsForm" ng-submit="submitCompanyInterestedMajors(editInterestedMajorsForm)" novalidate>
          <div class="row">
            <div class="col-md-6">
              <h5 class="text-center text-highlight"><b>List of Majors:</b></h5>
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="list-group" style="max-height: 300px; overflow-y:scroll;">
                    <li class="list-group-item" ng-repeat="item in majors | filter:false">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.isSet">&nbsp; {{item.majorCode}}
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="text-center text-highlight"><b>Selected Majors:</b></h5>
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="list-group" style="max-height: 300px; overflow-y:scroll;">
                    <li class="list-group-item" ng-repeat="item in majors | filter:true">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.isSet">&nbsp; {{item.majorCode}}
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <button type="submit" class="btn btn-theme btn-sm"><b>Submit</b></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="editCompanyPromotionalMaterialModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Edit Company Promotional Material</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="editCompanyPromotionalMaterialForm" ng-submit="submitCompanyPromotionalMaterialChanges(editCompanyPromotionalMaterialForm)" novalidate>
              <label><h5 class="title text-highlight"><b>Name:</b><br></h5>
              </label>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine}">
                <input ng-model="promotionalMaterialItem.title" name="promotionalMaterialTitle" type="text" class="form-control" style="border-radius:0;" required ng-pattern="/^([A-Z][A-Za-z0-9 ,.ñÑáéíóúÁÉÍÓÚ'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Name</b></p>
              </div>
              <label><h5 class="title text-highlight"><b>Expiration Date:</b><br></h5></label> {{promotionalMaterialItem.expirationDate | date: 'MMMM d, y'}}
              <div class="alert alert-danger alert-dismissable" ng-show="showEditPromotionalMaterialDateError">
                <button type="button" class="close" ng-click="showEditPromotionalMaterialDateError=false" aria-hidden="true">&times;</button>
                <strong class="alert-link">The expiration date must be at least one day after today. Please select a new date.</strong>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine}">
                <input id="editPromotionalDocumentExpirationDatePicker" ng-model="promotionalMaterialItem.expirationDate" name="promotionalMaterialExpirationDate" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly required ng-pattern="/^([A-Za-z0-9 ,.:'`-]{0,30})$/i"/>
                <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$valid"></i>
                <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine"></i>
              </div>
              <div>
                <p ng-show="editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$invalid && !editCompanyPromotionalMaterialForm.promotionalMaterialExpirationDate.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Date</b></p>
              </div>
              <div class="input-group text-center" style="margin-top: 30px;">
                <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-edit"></i></span>
                <select class="sort-options form-control" ng-model="promotionalMaterialItem.status" name="modalPromotionalMaterialStatusStatus" style="border-radius:0; -webkit-appearance: none;">
                  <option value="approved">Approve</option>
                  <option value="rejected">Reject</option>
                </select>
              </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                  <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editCompanyPromotionalMaterialForm.promotionalMaterialTitle.$invalid" style="margin-right:15px; margin-top: 20px; margin-bottom:5px"><b>Update</b></button>
                  <button class="btn btn-theme btn-sm" data-dismiss="modal" style="margin-left:15px; margin-top: 20px; margin-bottom:5px"><b>Cancel</b></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmDeletePromotionalMaterialModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <form class="form-horizontal" name="modalDeletePromotionalMaterialForm" ng-submit="submitDeleteCompanyPromotionalMaterial(modalDeletePromotionalMaterialForm)" novalidate>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title pull-left" style="color:black"><b>Confirm</b></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>Are you sure you want to delete {{promotionalMaterialItem.title}}?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme">Submit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="editRecruiterStatusModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Change Recruiter Status</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="modalRecruiterStatusForm" ng-submit="submitRecruiterStatusChange(modalRecruiterStatusForm)" novalidate>
          <h4>Recruiter: {{tempRecruiter.firstName}} {{tempRecruiter.lastName}}</h4>
          <div class="input-group text-center">
            <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-edit"></i></span>
            <select class="sort-options form-control" ng-model="tempRecruiter.accountStatus" name="modalRecruiterStatus" style="border-radius:0; -webkit-appearance: none;">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-2 text-center" style="float: none; margin: 0 auto; padding-top:10px">
              <button type="submit" class="btn btn-theme">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="editJobOfferStatusModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black">Change Job Offer Status</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="modalJobOfferStatusForm" ng-submit="submitJobOfferStatus(modalJobOfferStatusForm)" novalidate>
          <h5>Job Offer: {{tempJobOffer.title}}</h5>
          <div class="input-group text-center">
            <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-edit"></i></span>
            <select class="sort-options form-control" ng-model="tempJobOffer.jobOfferStatus" name="modalJobOfferStatus" style="border-radius:0; -webkit-appearance: none;">
              <option value="approved">Approve</option>
              <option value="rejected">Reject</option>
            </select>
          </div>
          <div class="alert alert-danger alert-dismissable" ng-show="showJobOfferExpirationError" style="margin-top: 10px;">
            <button type="button" class="close" ng-click="showJobOfferExpirationError=false" aria-hidden="true">&times;</button>
            <strong class="alert-link" >This Job Offer has expired. You cannot approve it.</strong>
          </div>
          <div class="row">
            <div class="col-md-2 text-center" style="float: none; margin: 0 auto; padding-top:10px">
              <button type="submit" class="btn btn-theme">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmTemporaryContactChangesModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <form class="form-horizontal" name="modalTemporaryContactForm" ng-submit="submitTemporaryContactChanges(modalTemporaryContactForm)" novalidate>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title pull-left" style="color:black"><b>Confirm</b></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>Are you sure you want to change your temporary contact information?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme">Submit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>
