<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/administrators/admin-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/administrators/admin-navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">About</h1>

        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li>
              <a ui-sref="adminProfile">Profile</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="current">About</li>
          </ul>
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content">
        <div class="row page-row">
          <article class="welcome col-md-8 col-sm-7">
            <form editable-form name="visionEditableForm" onbeforesave="submitAboutUs(visionEditableForm)">
              <h3 class="title">Vision
                <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="visionEditableForm.$show()" ng-show="!visionEditableForm.$visible">Edit</button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="visionEditableForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="(visionEditableForm.$waiting || visionEditableForm.vision.$error.maxlength)">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="visionEditableForm.$waiting" ng-click="visionEditableForm.$cancel()">Cancel</button>
                  </span>
                </span>
              </h3>
              <div>
                <!-- editable vision (text with validation) -->
                <span editable-text="aboutUsInfo.aboutUs[0].vision" e-name="vision" e-size="120" e-ng-maxlength="255" e-style="margin-bottom: 10px;" e-required><p>{{aboutUsInfo.aboutUs[0].vision}}<p></span>
              </div>
              <div>
                <p ng-show="visionEditableForm.vision.$error.maxlength" style="color:#843534" class="help-block"><b>Vision must be less than 255 characters long</b></p>
              </div>
            </form>

            <form editable-form name="missionEditableForm" onbeforesave="submitAboutUs(missionEditableForm)">
              <h3 class="title">Mission
                <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="missionEditableForm.$show()" ng-show="!missionEditableForm.$visible">Edit</button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="missionEditableForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="(missionEditableForm.$waiting || missionEditableForm.mission.$error.maxlength)">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="missionEditableForm.$waiting" ng-click="(missionEditableForm.$cancel())">Cancel</button>
                  </span>
                </span>
              </h3>
              <div>
                <!-- editable mission (text with validation) -->
                <span editable-text="aboutUsInfo.aboutUs[0].missionDesc" e-name="mission" e-size="120" e-ng-maxlength="255" e-style="margin-bottom: 10px;" e-required><p>{{aboutUsInfo.aboutUs[0].missionDesc}}<p></span>
              </div>
              <div>
                <p ng-show="missionEditableForm.mission.$error.maxlength" style="color:#843534" class="help-block"><b>Mission must be less than 255 characters long</b></p>
              </div>
            </form>

            <form editable-form name="editableStudentServicesForm" onaftersave="submitEditOrDeleteStudentServices(editableStudentServicesForm)" oncancel="cancelItems(aboutUsInfo.studentServices)">

              <h3 class="title">Student Services <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="editableStudentServicesForm.$show()" ng-show="!editableStudentServicesForm.$visible">Edit</button>
                  <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#addStudentServiceModal" ng-show="!editableStudentServicesForm.$visible">Add service</button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableStudentServicesForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editableStudentServicesForm.$waiting">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="editableStudentServicesForm.$waiting" ng-click="(editableStudentServicesForm.$cancel())">Cancel</button>
                  </span>
                </span>
              </h3>
              <ul class="custom-list-style">
                <li ng-repeat="item in aboutUsInfo.studentServices | filter: filterItems">
                  <!-- editable student services (text with validation) -->
                  <span editable-text="item.service" e-size="100" e-form="editableStudentServicesForm" e-required><i class="fa fa-check"></i>{{item.service}}</span>
                  <button type="button" ng-show="editableStudentServicesForm.$visible" ng-click="deleteItems(aboutUsInfo.studentServices, item)" class="btn btn-danger btn-sm pull-right">Delete</button>
                </li>
              </ul>
            </form>
            <div id="addStudentServiceModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left" style="color:black">Add Student Service</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="modalAddStudentServiceForm" ng-submit="submitAddStudentService(modalAddStudentServiceForm)" novalidate>
                      <div class="input-group text-center" style="margin-bottom: 10px;">
                        <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input ng-model="studentService" name="studentService" type="text" class="form-control" ng-maxlength="255" placeholder="Enter student service" style="border-radius:0;" required/>
                      </div>
                      <div>
                        <p ng-show="modalAddStudentServiceForm.studentService.$error.maxlength" style="color:#843534" class="help-block"><b>Student service must be 255 characters long</b></p>
                      </div>
                      <div class="row">
                        <div class="col-md-2 text-center" style="float: none; margin: 0 auto;">
                          <button type="submit" class="btn btn-theme" ng-disabled="(modalAddStudentServiceForm.studentService.$error.required || modalAddStudentServiceForm.studentService.$error.maxlength)" >Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <form editable-form name="editableCompanyServicesForm" onaftersave="submitEditOrDeleteCompanyServices(editableCompanyServicesForm)" oncancel="cancelItems(aboutUsInfo.companyServices)">

              <h3 class="title">Company Services <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="editableCompanyServicesForm.$show()" ng-show="!editableCompanyServicesForm.$visible">Edit</button>
                  <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#addCompanyServiceModal" ng-show="!editableCompanyServicesForm.$visible">Add service</button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableCompanyServicesForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="editableCompanyServicesForm.$waiting">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="editableCompanyServicesForm.$waiting" ng-click="(editableCompanyServicesForm.$cancel())">Cancel</button>
                  </span>
                </span>
              </h3>
              <ul class="custom-list-style">
                <li ng-repeat="item in aboutUsInfo.companyServices | filter: filterItems">
                  <!-- editable company services (text with validation) -->
                  <span editable-text="item.service" e-size="100" e-form="editableCompanyServicesForm" e-required><i class="fa fa-check"></i>{{item.service}}</span>
                  <button type="button" ng-show="editableCompanyServicesForm.$visible" ng-click="deleteItems(aboutUsInfo.companyServices, item)" class="btn btn-danger btn-sm pull-right">Delete</button>
                </li>
                <li>
                  <span style="font-family: arial; color: #004D13;"><strong><i>NOTE:</i> </strong></span>
                  We refer resumes of recent graduates with minimum experience.
                </li>
              </ul>
            </form>

            <div id="addCompanyServiceModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left" style="color:black">Add Company Service</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="modalAddCompanyServiceForm" ng-submit="submitAddCompanyService(modalAddCompanyServiceForm)" novalidate>
                      <div class="input-group text-center" style="margin-bottom: 10px;">
                        <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input ng-model="companyService" name="companyService" type="text" class="form-control" ng-maxlength="255" placeholder="Enter student service" style="border-radius:0;" required/>
                      </div>
                      <div>
                        <p ng-show="modalAddCompanyServiceForm.companyService.$error.maxlength" style="color:#843534" class="help-block"><b>Student service must be 255 characters long</b></p>
                      </div>
                      <div class="row">
                        <div class="col-md-2 text-center" style="float: none; margin: 0 auto;">
                          <button type="submit" class="btn btn-theme" ng-disabled="(modalAddCompanyServiceForm.companyService.$error.required || modalAddCompanyServiceForm.companyService.$error.maxlength)" >Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <form editable-form name="policyEditableForm" onbeforesave="submitEditOrDeletePolicies(policyEditableForm)" oncancel="cancelItems(aboutUsInfo.policies)">
              <h3 class="title">Policies
                <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="policyEditableForm.$show()" ng-show="!policyEditableForm.$visible">Edit</button>
                  <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#addPolicyModal" ng-show="!policyEditableForm.$visible">Add policy</button>

                  <!-- buttons to submit / cancel form -->
                  <span ng-show="policyEditableForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="(policyEditableForm.$waiting || policyEditableForm.policyDesc.$error.maxlength)">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="policyEditableForm.$waiting" ng-click="policyEditableForm.$cancel()">Cancel</button>
                  </span>
                </span>
              </h3>
              <div>
                <!-- editable policy (text with validation) -->
                <span editable-text="aboutUsInfo.aboutUs[0].policiesDesc" e-name="policyDesc" e-size="120" e-ng-maxlength="255" e-style="margin-bottom: 10px;" e-required><p>{{aboutUsInfo.aboutUs[0].policiesDesc}}<p></span>
              </div>
              <div>
                <p ng-show="policyEditableForm.policyDesc.$error.maxlength" style="color:#843534" class="help-block"><b>Policy description must be less than 255 characters long</b></p>
              </div>
              <ul class="custom-list-style">
                <li ng-repeat="item in aboutUsInfo.policies | filter: filterItems">
                  <!-- editable policies (text with validation) -->
                  <span editable-text="item.policy" e-size="100" e-name="policyItem" e-ng-maxlength="255" e-required><i class="fa fa-check"></i>{{item.policy}}</span>
                  <button type="button" ng-show="policyEditableForm.$visible" ng-click="deleteItems(aboutUsInfo.policies, item)" class="btn btn-danger btn-sm pull-right">Delete</button>
                </li>
                <div>
                  <p ng-show="policyEditableForm.policyItem.$error.maxlength" style="color:#843534" class="help-block"><b>Policy must be less than 255 characters long</b></p>
                </div>
              </ul>
            </form>

            <div id="addPolicyModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left" style="color:black">Add Policy</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="modalAddPolicyForm" ng-submit="submitAddPolicy(modalAddPolicyForm)" novalidate>
                      <div class="input-group text-center" style="margin-bottom: 10px;">
                        <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input ng-model="policy" name="policy" type="text" class="form-control" ng-maxlength="255" placeholder="Enter policy" style="border-radius:0;" required/>
                      </div>
                      <div>
                        <p ng-show="modalAddPolicyForm.policy.$error.maxlength" style="color:#843534" class="help-block"><b>Policy must be 255 characters long</b></p>
                      </div>
                      <div class="row">
                        <div class="col-md-2 text-center" style="float: none; margin: 0 auto;">
                          <button type="submit" class="btn btn-theme" ng-disabled="(modalAddPolicyForm.policy.$error.required || modalAddPolicyForm.policy.$error.maxlength)" >Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <form editable-form name="requirementEditableForm" onbeforesave="submitEditOrDeleteRequirements(requirementEditableForm)" oncancel="cancelItems(aboutUsInfo.requirements)">
              <h3 class="title">Requirements
                <span>
                  <!-- button to show form -->
                  <button type="button" class="btn btn-theme btn-sm" ng-click="requirementEditableForm.$show()" ng-show="!requirementEditableForm.$visible">Edit</button>
                  <button type="button" class="btn btn-theme btn-sm" data-toggle="modal" data-target="#addRequirementModal" ng-show="!requirementEditableForm.$visible">Add requirement</button>

                  <!-- buttons to submit / cancel form -->
                  <span ng-show="requirementEditableForm.$visible">
                    <button type="submit" class="btn btn-theme btn-sm" ng-disabled="(requirementEditableForm.$waiting || requirementEditableForm.requirementsDesc.$error.maxlength)">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-disabled="requirementEditableForm.$waiting" ng-click="requirementEditableForm.$cancel()">Cancel</button>
                  </span>
                </span>
              </h3>
              <div>
                <!-- editable requirement (text with validation) -->
                <span editable-text="aboutUsInfo.aboutUs[0].requirementsDesc" e-name="requirementsDesc" e-size="120" e-ng-maxlength="255" e-style="margin-bottom: 10px;" e-required><p>{{aboutUsInfo.aboutUs[0].requirementsDesc}}<p></span>
              </div>
              <div>
                <p ng-show="requirementEditableForm.requirementsDesc.$error.maxlength" style="color:#843534" class="help-block"><b>Requirement description must be less than 255 characters long</b></p>
              </div>
              <ul class="custom-list-style">
                <li ng-repeat="item in aboutUsInfo.requirements | filter: filterItems">
                  <!-- editable requirements (text with validation) -->
                  <span editable-text="item.requirement" e-size="100" e-name="requirementItem" e-ng-maxlength="255" e-required><i class="fa fa-check"></i>{{item.requirement}}</span>
                  <button type="button" ng-show="requirementEditableForm.$visible" ng-click="deleteItems(aboutUsInfo.requirements, item)" class="btn btn-danger btn-sm pull-right">Delete</button>
                </li>
                <div>
                  <p ng-show="requirementEditableForm.requirementItem.$error.maxlength" style="color:#843534" class="help-block"><b>Requirement must be less than 255 characters long</b></p>
                </div>
                <li>
                  <span style="font-family: arial; color: #004D13;"><strong><i>NOTE:</i> </strong></span>
                  Every student is responsible for maintaining his/her file updated and with enough copies at the
                  Placement Office.
                </li>
              </ul>
            </form>

            <div id="addRequirementModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title pull-left" style="color:black">Add Requirement</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="modalAddRequirementForm" ng-submit="submitAddRequirement(modalAddRequirementForm)" novalidate>
                      <div class="input-group text-center" style="margin-bottom: 10px;">
                        <span class="input-group-addon" style="border-radius: 0;"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input ng-model="requirement" name="requirement" type="text" class="form-control" ng-maxlength="255" placeholder="Enter requirement" style="border-radius:0;" required/>
                      </div>
                      <div>
                        <p ng-show="modalAddRequirementForm.requirement.$error.maxlength" style="color:#843534" class="help-block"><b>Requirement must be 255 characters long</b></p>
                      </div>
                      <div class="row">
                        <div class="col-md-2 text-center" style="float: none; margin: 0 auto;">
                          <button type="submit" class="btn btn-theme" ng-disabled="(modalAddRequirementForm.requirement.$error.required || modalAddRequirementForm.requirement.$error.maxlength)" >Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


            <h3 class="title">Our Staff</h3>

            <div class="table-responsive">
              <table class="table table-boxed">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in aboutUsInfo.ourStaff">
                  <td>{{item.name}}</td>
                  <td>{{item.position}}</td>
                </tr>
                </tbody>
              </table>
              <!--//table-->
            </div>
          </article>
          <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <!--//widget-->
            <!--//widget-->
            <section class="widget">
              <h3 class="title">All Enquiries</h3>

              <p class="tel"><i class="fa fa-phone"></i>Phones:</p>
              <span class="tel">(787) 265-3898, (787) 265-3858, or (787) 832-4040:&nbsp;</span>

              <p class="tel">ext. 2070, 2074, 3691, 3898, 3858</p>

              <p class="tel"><i class="fa fa-fax"></i>Fax: (787) 834-5115</p>

              <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:placement@uprm.edu">placement@uprm.edu</a></p>
            </section>
            <section class="widget has-divider">
              <h3 class="title">Postal Address</h3>

              <p class="adr"><span class="adr-group"> <span class="street-address">Student Center, 5th Floor - Office 508</span><br><span
                class="region">University of Puerto Rico Mayaguez Campus</span><br><span
                class="country-name">Mayaguez</span><br><span class="country-name">Puerto Rico</span><br><span
                class="postal-code">00681</span></span></p>
            </section>
          </aside>
          <!--//page-content-->
        </div>
        <!--//page-row-->
      </div>
      <!--//page-content-->
    </div>

    <div class="page-row">
      <article class="map-section">
        <h3 class="title">How to find us</h3>
        <article class="welcome col-md-12 col-sm-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1490.3079326503766!2d-67.14124061552592!3d18.21070118501364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDEyJzM3LjEiTiA2N8KwMDgnMjkuMCJX!5e0!3m2!1sen!2spr!4v1457839879455" style="overflow: hidden;
        width: 100%;" width="100%" width="auto" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </article>
        <!--//map-->
      </article>
      <!--//map-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>
<div id="messageModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:black"><b>{{title}}</b></h4>
        <br/>
        <h5>{{message}}</h5>
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>

