<div class="">
  <!-- ******HEADER****** -->
  <div ng-include src="'views/partials/administrators/admin-header.html'"></div>
  <!--//header-->
  <!-- ******NAV****** -->
  <div ng-include src="'views/partials/administrators/admin-navbar.html'"></div>
  <!--//main-nav-->
  <!-- ******CONTENT****** -->
  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Job Fair Management</h1>

        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li>
              <a ui-sref="adminProfile">Profile</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li class="current">Job Fair Management</li>
          </ul>
        </div>
        <!--//breadcrumbs-->
      </header>
      <div class="page-content">
        <div class="row">
          <div class="col-md-12" style="text-align:center; padding-bottom:5px">
            <p><b>1. Use this page to edit the Job Fair general information.</b></p>
            <p><b>2. After filling all the required blanks, click the Save Changes button.</b></p>
          </div>
        </div>
        <div class="row" style="margin-top:15px">
          <div class="col-md-12">
            <h3 class="title">Company Information</h3>
          </div>
        </div>
          <div class="row text-center">
            <article class="contact-form col-md-12 form-inline" style="margin-top:10px">
              <div class="input-group">
                <span><label class="control-label">Select Company<span class="required">*</span> : &nbsp</label></span>
                <div class="form-group" style="text-align:center">
                  <div class="sort">
                    <select class="sort-options form-control" ng-model="companySelection">
                      <option value="Select Company">Select Company </option>
                      <option ng-repeat="item in jobFairCompaniesList" value="{{item.name}}">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <form name="JobFairManagementForm" novalidate>
            <div class="row" style="margin-top:20px">
              <article class="contact-form col-md-6 col-sm-6">
                <div class="input-group">
                  <span><label class="control-label">Company Name:</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : JobFairManagementForm.companyName.$invalid && !JobFairManagementForm.companyName.$pristine}">
                  <input name="companyName" type="text" class="form-control" placeholder="{{companySelection}}" style="border-radius:0;" readonly/>
                </div>
                <div>
                  <p ng-show="JobFairManagementForm.companyName.$invalid && !JobFairManagementForm.companyName.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Company Name</b></p>
                </div>

                <div class="input-group">
                  <span><label class="control-label">Company Additional Information (Optional):</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : JobFairManagementForm.companyAdditionalInformation.$error.pattern}">
                  <textarea ng-model="jobFairCompanyAdditionalInfo.extraInformation" name="companyAdditionalInformation" type="text" placeholder="Enter the description for the new job offer" class="form-control" rows="4"  ng-disabled="isDisable" style="resize: none" ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"></textarea>
                  <i style="margin-top:5px; color:#57A89A" class="glyphicon glyphicon-ok form-control-feedback" ng-show="JobFairManagementForm.companyAdditionalInformation.$valid && !JobFairManagementForm.companyAdditionalInformation.$modelValue === false"></i>
                  <i style="margin-top:5px; color:#843534" class="glyphicon glyphicon-remove form-control-feedback" ng-show="JobFairManagementForm.companyAdditionalInformation.$error.pattern"></i>
                </div>
                <div>
                  <p ng-show="JobFairManagementForm.companyAdditionalInformation.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid Description</b></p>
                </div>

                <div class="input-group">
                  <span><label class="control-label">Min GPA (Optional):</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : JobFairManagementForm.companyMinGPA.$error.pattern}">
                  <input ng-model="jobFairCompanyAdditionalInfo.minGpa" name="companyMinGPA" type="text" class="form-control" placeholder="Enter the company name" style="border-radius:0;" ng-disabled="isDisable" ng-pattern="/^[0-9.]+(\.)?$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="JobFairManagementForm.companyMinGPA.$valid && !JobFairManagementForm.companyMinGPA.$modelValue === false"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="JobFairManagementForm.companyMinGPA.$error.pattern"></i>
                </div>
                <div>
                  <p ng-show="JobFairManagementForm.companyMinGPA.$error.pattern" style="color:#843534" class="help-block"><b>Enter a valid Company Name</b></p>
                </div>
              </article>
              <article class="contact-form col-md-6 col-sm-6">
                <div class="input-group">
                  <span><label class="control-label">Website Application URL<span class="required">*</span> :</label></span>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : JobFairManagementForm.companyURL.$invalid && !JobFairManagementForm.companyURL.$pristine}">
                  <input ng-model="jobFairCompanyAdditionalInfo.websiteApplication" name="companyURL" type="text" class="form-control" placeholder="Enter the company website URL" style="border-radius:0;" ng-disabled="isDisable" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="JobFairManagementForm.companyURL.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="JobFairManagementForm.companyURL.$invalid && !JobFairManagementForm.companyURL.$pristine"></i>
                </div>
                <div>
                  <p ng-show="JobFairManagementForm.companyURL.$invalid && !JobFairManagementForm.companyURL.$pristine" style="color:#843534" class="help-block"><b>Enter a valid URL</b></p>
                </div>
                <div class="row">
                  <h4 class="title text-center" style="margin-top:15px; margin-bottom:15px">Additional Options</h4>
                  <div class="col-md-6">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <label class="control-label">
                          <input type="checkbox" ng-model="jobFairCompanyAdditionalInfo.attending" ng-disabled="isDisable">&nbsp; Attending to Job Fair
                        </label>
                      </li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <label class="control-label">
                          <input type="checkbox" ng-model="jobFairCompanyAdditionalInfo.mustFillOnline" ng-disabled="isDisable">&nbsp; Apply Online
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <label class="control-label">
                          <input type="checkbox" ng-model="jobFairCompanyAdditionalInfo.collectingResumesBeforeJobFair" ng-disabled="isDisable">&nbsp; Collecting Resumes
                        </label>
                      </li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <label class="control-label">
                          <input type="checkbox" ng-model="jobFairCompanyAdditionalInfo.interviewsDuringWeekend" ng-disabled="isDisable">&nbsp; Interviewing
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
                <h4 class="title text-center" style="margin-top:15px; margin-bottom:15px">Interested Majors</h4>
                <div class="row">
                  <div class="col-md-12" style="text-align: center">
                    <button data-toggle="modal" data-target="#editInterestedMajorsModal" type="button" class="btn btn-theme btn-sm" style="margin-bottom:5px" ng-disabled="isDisable">Edit Majors</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="row">
              <h4 class="title text-center" style="margin-top:15px; margin-bottom:15px">Job Positions</h4>
              <div class="col-md-3" style="padding-bottom:10px" ng-repeat="item in companyJobPositions">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label class="control-label">
                      <input type="checkbox" ng-model="item.status" ng-disabled="isDisable">&nbsp; {{item.jobPosition}}
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-bottom:10px">
                <div style="text-align: center">
                  <button type="submit" class="btn btn-theme" ng-click="setJobFairAdditionalInfoToConfirm(JobFairManagementForm)" style="margin-top:10px; margin-bottom:10px" ng-disabled="JobFairManagementForm.$invalid">Save Changes</button>
                </div>
              </div>
            </div>
          </form>

          <div class="row" style="margin-top:15px">
            <div class="col-md-12">
              <h3 class="title">Job Fair General Information</h3>
            </div>
          </div>

          <form name="jobFairGeneralInformationForm" role="form" novalidate>
            <div class="row" style="margin-top:10px">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Header (English Version)</h3>
                  </div>
                  <div class="panel-body">
                    <input ng-model="jobFairGeneralInformation.headerEnglish" name="jobFairHeaderEnglish" type="text" class="form-control" placeholder="Enter the Job Fair Header" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.locationEnglish" name="jobFairLocationEnglish" type="text" class="form-control" placeholder="Enter the Job Fair Location" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.dateEnglish" name="jobFairDateEnglish" type="text" class="form-control" placeholder="Enter the Job Fair Date" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.time" name="jobFairTime" type="text" class="form-control" placeholder="Enter the Job Fair Time" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Header (Spanish Version)</h3>
                  </div>
                  <div class="panel-body">
                    <input ng-model="jobFairGeneralInformation.headerSpanish" name="jobFairHeaderSpanish" type="text" class="form-control" placeholder="Enter the Job Fair Header" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.locationSpanish" name="jobFairLocationSpanish" type="text" class="form-control" placeholder="Enter the Job Fair Location" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.dateSpanish" name="jobFairDateSpanish" type="text" class="form-control" placeholder="Enter the Job Fair Date" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                    <input ng-model="jobFairGeneralInformation.time" name="jobFairTime" type="text" class="form-control" placeholder="Enter the Job Fair Time" style="border-radius:0; text-align: center;" required ng-pattern="/^[-a-z0-9 =?/:._$,;*&@#%+'-()ñÑáéíóúÁÉÍÓÚ]+(\.)?$/i"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" style="margin-top:15px">
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <label class="control-label">
                        <input type="checkbox" ng-model="jobFairGeneralInformation.showResumeDeadlineDate">&nbsp; Apply Resume Deadline
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6" ng-show="jobFairGeneralInformation.showResumeDeadlineDate">
                <span><label class="control-label">Resume Deadline (Optional):&nbsp;</label>{{jobFairGeneralInformation.resumeDeadlineDate | date: 'MMMM d, y'}}</span>
                <div class="alert alert-danger alert-dismissable" ng-show="showJobFairResumeDeadlineDateError">
                  <button type="button" class="close" ng-click="showJobFairResumeDeadlineDateError=false" aria-hidden="true">&times;</button>
                  <strong class="alert-link">The deadline date must be at least one day after today. Please select a new date.</strong>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : jobFairGeneralInformationForm.jobFairResumeDeadline.$invalid && !jobFairGeneralInformationForm.jobFairResumeDeadline.$pristine}">
                  <input id="resumeDeadlineDatePicker" ng-model="jobFairGeneralInformation.resumeDeadlineDate" name="jobFairResumeDeadline" type="date" class="form-control" class="form-control" style="border-radius:0;" readonly ng-pattern="/^([A-Za-z0-9 ,.:'`-]{0,30})$/i"/>
                  <i class="glyphicon glyphicon-ok form-control-feedback" style="color:#57A89A" ng-show="jobFairGeneralInformationForm.jobFairResumeDeadline.$valid"></i>
                  <i class="glyphicon glyphicon-remove form-control-feedback" ng-show="jobFairGeneralInformationForm.jobFairResumeDeadline.$invalid && !jobFairGeneralInformationForm.jobFairResumeDeadline.$pristine"></i>
                </div>
                <div>
                  <p ng-show="jobFairGeneralInformationForm.jobFairResumeDeadline.$invalid && !jobFairGeneralInformationForm.jobFairResumeDeadline.$pristine" style="color:#843534" class="help-block"><b>Enter a valid Date</b></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-bottom:10px">
                <div style="text-align: center">
                  <button type="button" class="btn btn-theme" ng-click="checkResumeDeadlineDate(jobFairGeneralInformationForm)" style="margin-top:10px; margin-bottom:10px" ng-disabled="jobFairGeneralInformationForm.$invalid">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
      </div>
      <!--//page-content-->
    </div>
    <!--//page-->
  </div>
  <!--//content-->
</div>

<div id="confirmJobFairManagementModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <form class="form-horizontal" name="modalJobFairManagementForm" ng-submit="submitJobFairManagementChanges(modalJobFairManagementForm)" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title pull-left" style="color:black"><b>Confirm</b></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Are you sure you want to save these changes?</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme">Submit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="confirmJobFairGeneralInformationModal" class="modal fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form class="form-horizontal" name="modalJobFairGeneralInfoForm" ng-submit="submitJobFairGeneralInfo(modalJobFairGeneralInfoForm)" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title pull-left" style="color:black"><b>Confirm</b></h4>
        </div>
        <!-- dialog body -->
        <div class="modal-body">
          <h5>Are you sure you want to save these changes?</h5>
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme">Submit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div id="editInterestedMajorsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title pull-left" style="color:black"><b>Interested Majors</b></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>List of Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="displayMajors">
                  <ul class="list-group" style="max-height: 300px; overflow-y:scroll;">
                    <li class="list-group-item" ng-repeat="item in majors | filter:false">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.isSet">&nbsp; {{item.majorCode}}
                      </label>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-center text-highlight"><b>Selected Majors:</b></h5>
            <div class="panel panel-default">
              <div class="panel-body">
                <form name="selectedMajors">
                  <ul class="list-group" style="max-height: 300px; overflow-y:scroll;">
                    <li class="list-group-item" ng-repeat="item in majors | filter:true">
                      <label class="control-label">
                        <input type="checkbox" ng-model="item.isSet">&nbsp; {{item.majorCode}}
                      </label>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--//wrapper-->
<!-- ******FOOTER****** -->
<div ng-include src="'views/partials/footer.html'"></div>

