<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UPRM Placement Office</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
  <link rel="stylesheet" href="bower_components/dropzone/dist/min/dropzone.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/jquery-prettyPhoto/css/prettyPhoto.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) -->
  <!--  Global CSS -->
  <link rel="stylesheet" href="styles/custom.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="styles/styles.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <!-- endbuild -->
</head>
<body ng-app="uprmcmsApp" ng-controller="ApplicationCtrl" class="home-page">

<div ui-view></div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-utils/jq.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/gmaps/gmaps.js"></script>
<script src="bower_components/flexslider/jquery.flexslider.js"></script>
<script src="bower_components/jflickrfeed/jflickrfeed.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/ng-image-input-with-preview/dist/ngImageInputWithPreview.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Facebook plugin -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'uprmcmsApp',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    FB.XFBML.parse(document.getElementById('promo-facebook'));
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Slider: Flexslider-->
<script>
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<!-- controllers -->
<!-- General Controllers: -->
<script src="scripts/controllers/application.js"></script>
<script src="scripts/controllers/aboutUs.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/company-search.js"></script>
<script src="scripts/controllers/location-search.js"></script>
<script src="scripts/controllers/landingPageController.js"></script>
<script src="scripts/controllers/recruiter-registration.js"></script>
<script src="scripts/controllers/location-registration.js"></script>
<script src="scripts/controllers/company-registration.js"></script>
<!-- Company Controllers: -->
<script src="scripts/controllers/companies/companyProfile.js"></script>
<!-- Student Controllers: -->
<script src="scripts/controllers/students/careerFairController.js"></script>
<script src="scripts/controllers/students/jobFair.js"></script>
<!-- Administrator Controllers: -->
<script src="scripts/controllers/administrators/adminProfile.js"></script>
<script src="scripts/controllers/administrators/adminCompanyProfile.js"></script>

<!-- Directives -->
<script src="scripts/directives/fileUploadDirective.js"></script>

<!-- General Services -->
<script src="scripts/services/userRoles.js"></script>
<script src="scripts/services/aboutUs.js"></script>
<script src="scripts/services/Registration.js"></script>
<script src="scripts/services/patterns.js"></script>
<!-- Administrator Services -->
<script src="scripts/services/administrators/companies.js"></script>
<script src="scripts/services/administrators/adminAccess.js"></script>
<script src="scripts/services/administrators/majors.js"></script>

<!-- Filters -->
<script src="scripts/filters/filters.js"></script>

<!-- endbuild -->
</body>
</html>
